﻿@import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);
@import url(/css/aos.css);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

* {
  outline: none; }

@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes blink {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

.blink {
  -webkit-animation: blink 2s ease-in-out infinite;
  -moz-animation: blink 2s ease-in-out infinite;
  animation: blink 2s ease-in-out infinite; }

@keyframes rot {
  from {
    -webkit-transform: rotateX(0deg) rotateY(15deg) rotateZ(100deg);
    transform: rotateX(0deg) rotateY(15deg) rotateZ(100deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(15deg) rotateZ(100deg);
    transform: rotateX(360deg) rotateY(15deg) rotateZ(100deg); } }

@-webkit-keyframes cube-rot {
  from {
    -webkit-transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg); } }

@keyframes cube-rot {
  from {
    -webkit-transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg); } }

@-webkit-keyframes gapone {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); }
  100% {
    -webkit-transform: translate(258px, -193px);
    transform: translate(258px, -193px); } }

@keyframes gapone {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); }
  100% {
    -webkit-transform: translate(258px, -193px);
    transform: translate(258px, -193px); } }

@-webkit-keyframes gaptwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); }
  100% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); } }

@keyframes gaptwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); }
  100% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); } }

@-webkit-keyframes gapthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); } }

@keyframes gapthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); } }

@-webkit-keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.pulsephone {
  -webkit-animation: pulsephone 3s linear infinite;
  -moz-animation: pulsetwo 3s linear infinite;
  animation: pulsephone 3s linear infinite; }

@-webkit-keyframes pulsetwo {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes pulsetwo {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.pulsetwo {
  -webkit-animation: pulsetwo 3s linear infinite;
  -moz-animation: pulsetwo 3s linear infinite;
  animation: pulsetwo 3s linear infinite; }

@-webkit-keyframes fade_in_up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  50% {
    opacity: .5;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade_in_up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  50% {
    opacity: .5;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

.fade_in_up {
  -webkit-animation: fade_in_up .3s linear;
  -moz-animation: fade_in_up .3s linear;
  animation: fade_in_up .3s linear; }

@-webkit-keyframes fade_in {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes fade_in {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.fade_in {
  -webkit-animation: fade_in .4s linear;
  -moz-animation: fade_in .4s linear;
  animation: fade_in .4s linear;
  opacity: 1 !important; }

@-webkit-keyframes clustertwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes clustertwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes clusterthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  60% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes clusterthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  60% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes finger {
  0% {
    opacity: 0;
    height: 0px; }
  30% {
    opacity: 1; }
  70% {
    opacity: 0;
    height: 430px; }
  100% {
    opacity: 0;
    height: 430px; } }

@keyframes finger {
  0% {
    opacity: 0;
    height: 0px; }
  30% {
    opacity: 1; }
  70% {
    opacity: 0;
    height: 430px; }
  100% {
    opacity: 0;
    height: 430px; } }

@-webkit-keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

header {
  position: fixed;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  padding: 22px 0px;
  transition: box-shadow 0.3s ease;
  color: #fff;
  height: 71px;
  font-family: "fira sans";
  font-weight: 400; }
  header.shadow {
    background-color: #0044ea;
    box-shadow: 0 0 15px #000; }
  header .container {
    height: 27px;
    animation: fade_in_up .3s linear; }
  header .logo {
    display: block;
    float: left;
    position: relative;
    top: -4px;
    position: relative;
    border: none;
    margin-left: -8px; }
    header .logo svg {
      width: 154px;
      height: 34px;
      float: left;
      position: relative;
      left: -4px;
      top: -8px; }
      header .logo svg .st0 {
        color: #fff; }
      header .logo svg .blink {
        fill: #ff0c71; }
    @media (min-width: 768px) {
      header .logo {
        margin-right: 40px; } }
  header a {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
    position: relative; }
    header a:hover {
      color: white;
      border-color: rgba(255, 255, 255, 0.3); }
  header nav {
    display: none;
    float: left;
    font-weight: normal; }
    header nav ul {
      list-style: none;
      padding: 0;
      margin: 0; }
      header nav ul li {
        display: block;
        line-height: 1.7;
        float: left;
        margin-right: 20px; }
        header nav ul li:last-child {
          margin-right: 0; }
        header nav ul li a {
          transition: 0.4s ease-out 0.25s; }
          header nav ul li a:hover {
            opacity: 0.7; }
        header nav ul li.active.active a {
          border: none; }
          header nav ul li.active.active a:before {
            position: absolute;
            content: "";
            top: -6px;
            left: -8px;
            right: -8px;
            bottom: -6px;
            border-radius: 2px;
            border: 2px solid #0044ea;
            transition: border-color 0.3s; }
    header nav #header__nav {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease;
      z-index: 15;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0px;
      overflow: scroll;
      box-sizing: border-box;
      background-color: #0022c8; }
      header nav #header__nav.show {
        visibility: visible;
        opacity: 0.95; }
      header nav #header__nav .header__nav-header {
        position: relative;
        padding: 20px 0px;
        height: 30px; }
      header nav #header__nav .header__nav-content {
        padding: 90px 0px; }
      header nav #header__nav ul {
        margin-bottom: 50px; }
        header nav #header__nav ul.active li h3 {
          border-bottom: none; }
        header nav #header__nav ul li {
          float: none;
          display: block;
          margin-bottom: 10px;
          transition: opacity 0.2s ease; }
          header nav #header__nav ul li:not(.header):hover {
            opacity: 0.7; }
          header nav #header__nav ul li.active a {
            position: relative; }
            header nav #header__nav ul li.active a:before {
              position: absolute;
              content: "";
              top: -4px;
              left: -10px;
              right: -10px;
              bottom: -6px;
              border-radius: 2px;
              border: 2px solid #0044ea;
              transition: border-color 0.3s; }
          header nav #header__nav ul li.active h3 {
            border-bottom: none; }
      header nav #header__nav .header h3 {
        font-size: 1.5em;
        font-weight: 500;
        display: inline;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        line-height: 1.4; }
      header nav #header__nav a {
        border: none; }
  header svg {
    fill: #fff; }
  header .actions {
    float: right;
    position: relative; }
    header .actions ul {
      list-style: none;
      padding: 0;
      margin: 0;
      overflow: hidden; }
      header .actions ul li {
        display: block;
        float: left;
        margin-right: 18px;
        opacity: 0.5;
        line-height: 33px;
        transition: all 0.2s ease; }
        header .actions ul li:last-child {
          margin-right: 0; }
        header .actions ul li:hover {
          opacity: 1; }
        header .actions ul li.search__wrap {
          position: absolute;
          top: -5px;
          right: 64px;
          transition: all 0.5s ease-out;
          width: 0;
          opacity: 0;
          z-index: 12;
          background-color: #0044ea; }
          header .actions ul li.search__wrap.is_active {
            opacity: 1;
            width: 214px; }
          header .actions ul li.search__wrap .search__input {
            width: 100%;
            height: 30px;
            color: #ccc;
            font-family: "fira sans";
            font-weight: 200;
            font-size: 1.6rem;
            background: transparent;
            border: none;
            border-bottom: 1px solid #cccccc;
            transition: all 0.5s ease-out; }
            header .actions ul li.search__wrap .search__input:hover {
              color: white; }
              header .actions ul li.search__wrap .search__input:hover::-webkit-input-placeholder {
                color: white;
                opacity: 1; }
              header .actions ul li.search__wrap .search__input:hover::-moz-placeholder {
                color: white;
                opacity: 1; }
              header .actions ul li.search__wrap .search__input:hover:-moz-placeholder {
                color: white;
                opacity: 1; }
              header .actions ul li.search__wrap .search__input:hover:-ms-input-placeholder {
                color: white;
                opacity: 1; }
    header .actions a {
      border: none; }
  header .btn__user {
    position: relative;
    cursor: pointer; }
  header .btn__lang {
    cursor: pointer;
    top: -4px;
    font-weight: 700;
    font-family: "fira sans";
    font-weight: 400;
    position: relative;
    line-height: 1.5; }
    header .btn__lang:before {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 1px;
      width: 90%;
      height: 2px;
      background: #fff;
      transition: all 0.2s ease; }
  header .btn__search {
    cursor: pointer;
    background: none;
    border: none;
    position: relative;
    transition: all 0.5s ease-out;
    padding: 0; }
    header .btn__search svg {
      transition: all 0.2s ease-out; }
    header .btn__search.is_active svg {
      transform: scale(1.2); }
  header .btn__menu {
    cursor: pointer;
    top: -4px;
    left: -4px;
    position: relative;
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    padding: 8px;
    color: #fff;
    background: none;
    border: none; }
    header .btn__menu:before, header .btn__menu:after,
    header .btn__menu > span {
      position: relative;
      content: "";
      display: block;
      width: 100%;
      border-top: 3px solid;
      transition: all 0.3s ease; }
    header .btn__menu > span {
      margin: 4px 0; }
  header .btn__close {
    cursor: pointer;
    position: absolute;
    right: -8px;
    width: 33px;
    height: 33px;
    box-sizing: border-box;
    padding: 8px;
    color: #fff;
    opacity: 0.5;
    background: none;
    border: none; }
    header .btn__close:hover {
      opacity: 0.7; }
    header .btn__close:before, header .btn__close:after,
    header .btn__close > span {
      position: relative;
      content: "";
      display: block;
      width: 100%;
      border-top: 3px solid;
      transition: all 0.3s ease; }
    header .btn__close > span {
      opacity: 0;
      margin: 4px 0; }
    header .btn__close:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .btn__close:after {
      margin-top: -14px;
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }

@media (min-width: 1010px) {
  header nav {
    display: inline-block; } }

footer {
  padding: 15px 15px 20px;
  color: #999;
  font-size: 1.2rem;
  line-height: 1.5;
  border-top: 1px solid rgba(153, 153, 153, 0.3);
  background: #FFF;
  text-align: center; }
  footer a:not(:hover) {
    color: inherit;
    border-color: rgba(153, 153, 153, 0.3); }
  footer .site-maker {
    min-width: 278px;
    position: relative;
    display: inline-block;
    text-align: left;
    margin-top: 15px;
    text-align: center; }
    footer .site-maker .logo-als {
      width: 90px;
      height: 38px;
      background: url(/imgs/als-logo.png) no-repeat center;
      background-size: contain;
      margin: 0 auto 10px;
      border: none;
      display: block;
      opacity: .6; }
      @media (min-width: 768px) {
        footer .site-maker .logo-als {
          opacity: 1;
          float: left;
          margin: 2px 12px 0 0;
          border: none; } }
    @media (min-width: 768px) {
      footer .site-maker {
        text-align: left;
        margin-left: 40%;
        margin-top: 0; } }
  footer .copyright {
    display: block; }
    @media (min-width: 768px) {
      footer .copyright {
        text-align: left;
        display: inline-block;
        float: left; } }
  footer nav {
    margin-top: 15px; }
    footer nav a {
      margin-left: 10px;
      display: inline-block; }
      footer nav a:first-child {
        margin-left: 0; }
    @media (min-width: 768px) {
      footer nav {
        margin-top: 0;
        margin-left: 15px;
        display: inline-block; } }
  @media (min-width: 768px) {
    footer {
      text-align: left; } }

body {
  background: #fff;
  color: black;
  line-height: 1.4;
  font-family: "fira sans";
  font-weight: 100;
  font-weight: 300;
  font-size: 1.6rem;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  body.menu_show {
    overflow: hidden; }
    body.menu_show header nav {
      display: inline-block; }

main {
  overflow: hidden; }

.container {
  max-width: 1220px; }

a {
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  color: inherit;
  line-height: 1;
  display: inline-block; }
  a:hover {
    color: #ff0c71;
    border-color: rgba(255, 12, 113, 0.3); }

h1 {
  font-family: "fira sans";
  font-weight: 200;
  font-size: 5rem;
  line-height: 1.2; }

h2 {
  font-family: "fira sans";
  font-weight: 200;
  font-size: 3.4rem;
  line-height: 1.2; }
  @media (min-width: 768px) {
    h2 {
      font-size: 5rem; } }

h3 {
  font-weight: bold; }

h4 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "fira sans";
  font-weight: 400;
  font-size: 1.8rem; }
  h4:first-child {
    margin-top: 0; }

p {
  margin-top: 20px;
  line-height: 25px; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

img {
  max-width: 100%;
  height: auto; }

strong {
  font-weight: 400; }

.content h1 {
  margin: 0 0 20px 0;
  font-family: "fira sans";
  font-weight: 200;
  font-size: 5rem;
  line-height: 1.2; }

.content h2 {
  margin: 90px 0 20px;
  font-family: "fira sans";
  font-weight: 200;
  font-size: 5rem; }
  .content h2:first-child {
    margin-top: 0; }

.content h3 {
  margin: 65px 0 20px 0;
  font-family: "fira sans";
  font-weight: 200;
  font-size: 3.5rem; }

.content h4 {
  margin: 40px 0 20px;
  font-family: "fira sans";
  font-weight: 500;
  font-size: 1.8rem; }

.content a {
  color: #000;
  border-color: rgba(0, 0, 0, 0.2); }
  .content a:hover {
    color: #ff0c71;
    border-color: rgba(255, 12, 113, 0.4); }

.content ul, .content ol {
  padding-right: 25px;
  margin-top: 20px;
  list-style-type: none; }
  .content ul li, .content ol li {
    margin-top: 18px;
    position: relative; }
    .content ul li:first-child, .content ol li:first-child {
      margin-top: 0; }
    .content ul li:before, .content ol li:before {
      content: "";
      position: absolute; }

.content ul li:before {
  top: 10px;
  left: -15px;
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: #0044ea; }

.content ol {
  counter-reset: list; }
  .content ol li:before {
    counter-increment: list;
    content: counter(list);
    top: 0;
    left: -18px;
    color: #0044ea; }

.popup-box {
  position: fixed;
  border-radius: 24px;
  display: none;
  z-index: 9999999;
  font-size: 14px;
  padding: 30px 30px 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  max-width: 700px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 0 10px #000;
  color: #000; }
  .popup-box .body .title {
    font-size: 24px;
    margin-bottom: 28px; }
  .popup-box .close {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 36px;
    line-height: 36px;
    opacity: .6; }
    .popup-box .close:hover {
      opacity: 1; }
  .popup-box.bottom-notify {
    top: unset;
    transform: none;
    bottom: 0;
    width: 100%;
    left: 0;
    max-width: none;
    border-radius: 0;
    box-shadow: 0 0 10px -6px #000;
    padding-top: 0; }

.blackout {
  background: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 9999;
  left: 0;
  width: 100%;
  height: 100%;
  display: none; }

.ucrm-lh-form {
  margin-top: 16px; }
  .ucrm-lh-form .forms-ucrm-column-flexbox {
    justify-content: flex-start; }
  .ucrm-lh-form .ucrm-future_agree {
    margin-top: 0px !important;
    margin-left: 10px !important;
    position: relative !important; }
  .ucrm-lh-form #lead-h-wrap {
    background: #000;
    opacity: 0;
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease-out 0;
    cursor: pointer; }
  .ucrm-lh-form #lead-h-title {
    display: inline-block;
    margin-bottom: 12px;
    line-height: 18px;
    font-size: 18px; }
  .ucrm-lh-form #lead-h-close {
    position: absolute;
    width: 72px;
    top: 2px;
    right: 8px;
    font-size: 32px;
    text-align: right;
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    cursor: pointer;
    font-weight: 700; }
  .ucrm-lh-form #lead-h-close:hover {
    text-decoration: none;
    color: #555; }
  .ucrm-lh-form #lead-h-input {
    border: 1px solid #999;
    height: 20px;
    width: 150px;
    background: #fff; }
  .ucrm-lh-form .ucrm-lh-text-label {
    display: block;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin-bottom: 0; }
  .ucrm-lh-form .ucrm-lh-inner-table {
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    background-color: transparent;
    table-layout: auto !important; }
  .ucrm-lh-form .ucrm-lh-inner-table td {
    padding: 0;
    margin: 0;
    border: 0;
    vertical-align: middle;
    background-color: transparent; }
  .ucrm-lh-form input[type=text] {
    width: 100%;
    padding: 0 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    outline: none;
    line-height: 40px !important;
    height: 40px;
    box-shadow: none !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    @media (min-width: 768px) {
      .ucrm-lh-form input[type=text] {
        width: 215px; } }
  .ucrm-lh-form input[type=text]:hover {
    border: 1px solid #aaa !important; }
  .ucrm-lh-form input[type=text]:focus, .ucrm-lh-form input[type=text]:active {
    border: 2px solid #66AFE9 !important; }
  .ucrm-lh-form .ucrm-lh-btn-fix {
    visibility: hidden;
    margin-bottom: 0 !important;
    line-height: 25px !important; }
  .ucrm-lh-form .ucrm-lh-submit {
    font-size: 14px !important;
    background: #0044ea;
    border: 1px solid #0044ea;
    border-radius: 5px;
    text-shadow: none;
    margin-top: 0px;
    width: auto;
    height: 40px;
    line-height: normal;
    color: #fff;
    cursor: pointer;
    padding: 5px 15px !important;
    outline: none;
    font-weight: 700; }
  .ucrm-lh-form .ucrm-lh-submit:hover, .ucrm-lh-form .ucrm-lh-submit:focus, .ucrm-lh-form .ucrm-lh-submit:active {
    opacity: 0.8; }
  .ucrm-lh-form .ucrm-lh-submit:active {
    box-shadow: none; }
  .ucrm-lh-form .ucrm-lh-submit-container {
    min-height: 70px;
    min-width: 130px; }
  .ucrm-lh-form .ucrm-lh-name-input, .ucrm-lh-form .ucrm-lh-phone-input, .ucrm-lh-form .ucrm-lh-email-input {
    color: #333 !important; }
  .ucrm-lh-form .ucrm-lh-name-input, .ucrm-lh-form .lh-name-block {
    display: block; }
  .ucrm-lh-form .ucrm-lh-phone-input, .ucrm-lh-form .lh-phone-block {
    display: none; }
  .ucrm-lh-form .ucrm-lh-email-input, .ucrm-lh-form .lh-email-block {
    display: block; }
  .ucrm-lh-form .lead-h-header {
    border-bottom: 1px solid #eee !important;
    padding-bottom: 8px;
    float: left; }
  .ucrm-lh-form .lead-h-after {
    margin-top: 16px;
    float: left;
    font-size: 13px; }
  .ucrm-lh-form .ucrm-h-after {
    margin-top: 16px !important;
    float: right !important;
    font-size: 10px !important;
    color: #ccc !important; }
  .ucrm-lh-form .ucrm-h-after a {
    font-size: 10px !important;
    color: #333 !important;
    font-weight: 700; }
  .ucrm-lh-form .lead-h-label {
    margin-top: 15px;
    margin-right: 12px;
    font-size: 16px !important;
    line-height: 13px; }
  .ucrm-lh-form .lead-h-hidden {
    display: none; }
  .ucrm-lh-form .lead-h-clear {
    clear: both;
    display: block; }
  .ucrm-lh-form .lead-h-content {
    clear: both;
    display: block; }
  .ucrm-lh-form .lead-h-text-placeholder {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 22px;
    max-width: 700px; }
  .ucrm-lh-form .text-after-send-leadhunter {
    display: none;
    padding-top: 30px;
    font-size: 24px;
    text-align: center; }
  .ucrm-lh-form .input-h-error {
    border: 2px solid #E0571A !important; }
  .ucrm-lh-form .ucrm-future_agree-check {
    width: 12px !important;
    height: 12px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    margin-top: -2px !important;
    -webkit-appearance: checkbox !important; }
  @media (max-width: 425px) {
    .ucrm-lh-form .forms-ucrm-flexbox {
      flex-direction: column; }
    .ucrm-lh-form .ucrm-lh-input {
      width: 100% !important; }
    .ucrm-lh-form .ucrm-lh-submit {
      float: none;
      width: 100% !important; } }
  @media (max-width: 375px) {
    .ucrm-lh-form .forms-ucrm-flexbox {
      flex-direction: column; }
    .ucrm-lh-form .ucrm-lh-input {
      width: 100% !important; }
    .ucrm-lh-form .ucrm-lh-submit {
      float: none;
      width: 100% !important; }
    .ucrm-lh-form .ucrm-lh-form {
      margin: 20px 10px 10px; } }
  @media (max-width: 320px) {
    .ucrm-lh-form .forms-ucrm-flexbox {
      flex-direction: column; }
    .ucrm-lh-form .ucrm-lh-input {
      width: 100% !important; }
    .ucrm-lh-form .ucrm-lh-submit {
      float: none;
      width: 100% !important; } }
  .ucrm-lh-form .forms-ucrm-flexbox {
    justify-content: space-between;
    box-sizing: border-box; }
    @media (min-width: 768px) {
      .ucrm-lh-form .forms-ucrm-flexbox {
        display: flex;
        width: 100%; } }
  .ucrm-lh-form .forms-ucrm-column {
    flex: 1; }
  .ucrm-lh-form .forms-ucrm-column-flexbox {
    padding: 5px;
    height: auto;
    font-size: 14px;
    color: #666;
    font-weight: 500;
    text-align: left;
    box-sizing: border-box;
    justify-content: center; }
    @media (min-width: 768px) {
      .ucrm-lh-form .forms-ucrm-column-flexbox {
        display: flex;
        width: 100%; } }
  .ucrm-lh-form .vertikal-ucrm {
    flex-direction: column;
    max-width: 300px;
    margin: 0px auto; }
  .ucrm-lh-form .horizontal-ucrm {
    flex-direction: row; }
  .ucrm-lh-form .ucrm_future {
    display: inline-block;
    vertical-align: middle !important;
    font-weight: 300 !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-size: 100%;
    border: 0 none !important;
    outline: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: normal !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    text-align: left !important;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    background-position: 0 0;
    background-repeat: repeat;
    content: none;
    max-width: initial !important; }
  .ucrm-lh-form .ucrm-future_agree-check {
    width: 12px !important;
    height: 12px !important;
    display: inline-block !important;
    vertical-align: middle !important;
    margin-top: -2px !important;
    -webkit-appearance: checkbox !important; }
  .ucrm-lh-form .ucrm_future, .ucrm-lh-form input[type="checkbox"] {
    display: inline-block !important;
    vertical-align: middle !important;
    font-weight: 300 !important;
    font-family: inherit !important;
    font-style: inherit !important;
    font-size: 100%;
    border: 0 none !important;
    outline: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    line-height: normal !important;
    -webkit-box-sizing: content-box !important;
    -moz-box-sizing: content-box !important;
    box-sizing: content-box !important;
    text-align: left !important;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    transform-origin: center;
    background-position: 0 0;
    background-repeat: repeat;
    content: none;
    max-width: initial !important; }

html {
  font-size: 62.5%; }

.field,
.select-field {
  position: relative;
  margin: 20px 0; }
  .field .field__label,
  .select-field .field__label {
    font-family: "fira sans";
    font-weight: 400;
    font-weight: normal;
    font-size: 1.6rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #9d9ca7;
    position: absolute;
    top: 0.6875em;
    left: 0; }
    .field .field__label.comment-label,
    .select-field .field__label.comment-label {
      position: relative;
      display: block; }
  .field .input,
  .select-field .input {
    display: block;
    box-sizing: border-box;
    height: 40px;
    height: 4rem;
    padding: 10px 0 9px 120px;
    padding: 1rem 0 0.9rem 12rem;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-family: "fira sans";
    font-weight: 400;
    font-weight: normal;
    font-size: 2rem;
    color: #000;
    resize: none;
    border-radius: 0; }
    .field .input.comment-input,
    .select-field .input.comment-input {
      margin-top: 15px;
      padding: 5px;
      min-height: 60px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      border-radius: 5px; }
  .field textarea.input,
  .select-field textarea.input {
    max-height: 200px;
    line-height: 1.3;
    padding-top: 0.7rem;
    padding-bottom: 0.6rem;
    -webkit-overflow-scrolling: touch; }
  .field textarea.input.comment-input,
  .select-field textarea.input.comment-input {
    margin-top: 15px;
    padding: 5px;
    min-height: 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px; }
  .field.form-check,
  .select-field.form-check {
    position: relative;
    display: block; }
    .field.form-check .form-check-label,
    .select-field.form-check .form-check-label {
      margin-left: 10px;
      margin-bottom: 0;
      display: inline-block;
      font-family: "fira sans";
      font-weight: 100;
      font-weight: normal;
      font-size: 1.6rem;
      letter-spacing: 0.15em;
      text-transform: uppercase;
      color: #9d9ca7;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
  .field a,
  .select-field a {
    color: #0044ea;
    border-bottom: 1px solid rgba(0, 68, 234, 0.2); }
    .field a:hover, .field a:focus,
    .select-field a:hover,
    .select-field a:focus {
      color: #ff0c71;
      border-bottom: 1px solid rgba(255, 12, 113, 0.3); }

.form button img {
  vertical-align: middle; }

.btn {
  margin-top: 20px;
  height: 45px;
  min-width: 140px;
  padding: 0 20px;
  line-height: 43px;
  background: none;
  font-family: "fira sans";
  font-weight: normal;
  font-size: 1.6rem;
  color: #0044ea;
  transition: all .2s ease;
  transition-property: color,background;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid #0044ea;
  display: block;
  border-radius: 2px; }
  .btn.btn_fluid {
    display: block;
    width: 100%;
    border: none; }
  .btn.btn_solid {
    background: #002dab;
    border: none;
    color: #fff;
    height: 50px;
    height: 5rem;
    line-height: 50px;
    line-height: 5rem;
    font-family: "fira sans";
    font-weight: 800;
    font-weight: normal;
    font-size: 1.4rem;
    letter-spacing: 0.15em;
    text-transform: uppercase; }
  .btn.btn_try {
    background: #ff0c71;
    color: #FFF !important;
    border: none; }
  .btn.red {
    border-color: #ff0c71;
    color: #ff0c71; }

.pres-link {
  display: inline-block;
  vertical-align: top;
  padding: 15px 19px;
  background: #ff0c71;
  color: #fff !important;
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 20px;
  border-radius: 2px;
  font-weight: 400;
  transition: all 0.2s ease; }

.trial-link {
  border-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-bottom-width: 1px;
  display: inline-block;
  vertical-align: top;
  color: #fff !important;
  font-size: 1.8rem;
  line-height: 1;
  margin-top: 35px;
  margin-left: 35px;
  font-weight: 400;
  transition: all 0.2s ease; }
  .trial-link:hover {
    border-color: rgba(255, 255, 255, 0.5); }

.social__btns {
  font-size: 0;
  margin-top: 40px;
  margin-bottom: 40px; }
  .social__btns .social__btns-item {
    display: inline-block;
    vertical-align: top;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    transition: all 0.2s ease;
    margin-right: 15px;
    position: relative;
    border: none; }
    .social__btns .social__btns-item svg {
      fill: #fff;
      height: 24px;
      width: 24px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -12px;
      margin-top: -12px; }
    .social__btns .social__btns-item.social__btns-item-fb {
      background-color: rgba(59, 89, 152, 0.9); }
      .social__btns .social__btns-item.social__btns-item-fb:hover {
        background-color: #3b5998; }
    .social__btns .social__btns-item.social__btns-item-tw {
      background-color: rgba(85, 172, 238, 0.9); }
      .social__btns .social__btns-item.social__btns-item-tw:hover {
        background-color: #55acee; }

.hidden {
  display: none; }

.show {
  display: block; }

main section {
  opacity: 0; }
  main section .image {
    position: relative; }
    @media (max-width: 768px) {
      main section .image {
        display: none; } }

main .index__promo {
  padding: 70px 0px; }
  main .index__promo h2 {
    line-height: 2.9rem;
    font-size: 2.5rem; }
  main .index__promo a {
    border: none; }
  main .index__promo .promo__image .img_wrapp {
    width: 115px;
    height: 115px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    background: #fff;
    overflow: hidden;
    padding: 4px; }
  @media (min-width: 768px) {
    main .index__promo .promo__image {
      display: table-cell;
      vertical-align: middle; } }
  @media (min-width: 768px) {
    main .index__promo .promo__text {
      display: table-cell;
      vertical-align: middle;
      padding-left: 55px; } }
