﻿@-webkit-keyframes blink {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

@keyframes blink {
  0%, 100% {
    opacity: 0; }
  50% {
    opacity: 1; } }

main section.is_hover.hover .image .blink {
  -webkit-animation: blink 2s ease-in-out infinite;
  -moz-animation: blink 2s ease-in-out infinite;
  animation: blink 2s ease-in-out infinite; }

@keyframes rot {
  from {
    -webkit-transform: rotateX(0deg) rotateY(15deg) rotateZ(100deg);
    transform: rotateX(0deg) rotateY(15deg) rotateZ(100deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(15deg) rotateZ(100deg);
    transform: rotateX(360deg) rotateY(15deg) rotateZ(100deg); } }

@-webkit-keyframes cube-rot {
  from {
    -webkit-transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg); } }

@keyframes cube-rot {
  from {
    -webkit-transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
    transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg); } }

@-webkit-keyframes gapone {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); }
  100% {
    -webkit-transform: translate(258px, -193px);
    transform: translate(258px, -193px); } }

@keyframes gapone {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); }
  100% {
    -webkit-transform: translate(258px, -193px);
    transform: translate(258px, -193px); } }

@-webkit-keyframes gaptwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); }
  100% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); } }

@keyframes gaptwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  80% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); }
  100% {
    -webkit-transform: translate(-334px, 249px);
    transform: translate(-334px, 249px); } }

@-webkit-keyframes gapthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); } }

@keyframes gapthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  20% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  100% {
    -webkit-transform: translate(257px, -193px);
    transform: translate(257px, -193px); } }

@-webkit-keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@-webkit-keyframes pulsetwo {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes pulsetwo {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes fade_in_up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  50% {
    opacity: .5;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@keyframes fade_in_up {
  0% {
    opacity: 0;
    transform: translateY(10px); }
  50% {
    opacity: .5;
    transform: translateY(5px); }
  100% {
    opacity: 1;
    transform: translateY(0px); } }

@-webkit-keyframes fade_in {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes fade_in {
  0% {
    opacity: 0; }
  50% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@-webkit-keyframes clustertwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes clustertwo {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(34px, -18px);
    transform: translate(34px, -18px); }
  60% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@-webkit-keyframes clusterthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  60% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@keyframes clusterthree {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; }
  10% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  50% {
    opacity: 0.8;
    -webkit-transform: translate(27px, 23px);
    transform: translate(27px, 23px); }
  60% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1; } }

@-webkit-keyframes finger {
  0% {
    opacity: 0;
    height: 0px; }
  30% {
    opacity: 1; }
  70% {
    opacity: 0;
    height: 430px; }
  100% {
    opacity: 0;
    height: 430px; } }

@keyframes finger {
  0% {
    opacity: 0;
    height: 0px; }
  30% {
    opacity: 1; }
  70% {
    opacity: 0;
    height: 430px; }
  100% {
    opacity: 0;
    height: 430px; } }

@-webkit-keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes pulsephone {
  0% {
    opacity: 0; }
  30% {
    opacity: 0; }
  60% {
    opacity: 1; }
  100% {
    opacity: 0; } }

header {
  background-color: #0044ea; }

main section.is_hover {
  border-top: 1px solid #e6e7ed;
  transition: 0.25s ease-out 0.25s;
  transition-property: all;
  background-color: rgba(0, 68, 234, 0);
  opacity: 0; }
  main section.is_hover .text {
    padding-top: 150px;
    padding-bottom: 200px; }
    @media (max-width: 768px) {
      main section.is_hover .text {
        padding-top: 70px;
        padding-bottom: 70px; } }
  main section.is_hover .image {
    transition: 0.4s ease-out 0.25s; }
    main section.is_hover .image .img, main section.is_hover .image .img__hover, main section.is_hover .image .img__mask {
      position: absolute;
      max-width: 570px;
      width: 100%;
      top: 60px;
      transition: .4s ease-out .25s;
      animation: none; }
    main section.is_hover .image .img__hover, main section.is_hover .image .img__mask {
      opacity: 0; }
    main section.is_hover .image .img__mask {
      clip-path: circle(1px at 0px 600px); }
      main section.is_hover .image .img__mask.right {
        clip-path: circle(1px at 600px 500px); }
    main section.is_hover .image .wrapper-3d {
      position: absolute;
      z-index: 2;
      transition: opacity 0.4s 0.25s;
      opacity: 1; }
      main section.is_hover .image .wrapper-3d .cube-3d {
        -webkit-perspective: 100em;
        perspective: 100em;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        width: 40px;
        height: 40px;
        position: relative;
        -webkit-animation: cube-rot 10s infinite linear;
        animation: cube-rot 10s infinite linear; }
        main section.is_hover .image .wrapper-3d .cube-3d .side {
          position: absolute;
          width: 40px;
          height: 40px;
          overflow: hidden; }
          main section.is_hover .image .wrapper-3d .cube-3d .side:after, main section.is_hover .image .wrapper-3d .cube-3d .side:before {
            content: "";
            position: absolute;
            width: 40px;
            height: 40px;
            left: 0;
            top: 0;
            box-sizing: border-box;
            transition: opacity .3s .3s; }
          main section.is_hover .image .wrapper-3d .cube-3d .side:before {
            border: 1px solid #001bff;
            opacity: 1; }
          main section.is_hover .image .wrapper-3d .cube-3d .side:after {
            opacity: 0; }
        main section.is_hover .image .wrapper-3d .cube-3d .back {
          -webkit-transform: translateZ(-20px);
          transform: translateZ(-20px); }
          main section.is_hover .image .wrapper-3d .cube-3d .back:after {
            background: linear-gradient(194deg, #9933ff 0%, #ff33ff 100%); }
        main section.is_hover .image .wrapper-3d .cube-3d .left {
          -webkit-transform: translateX(-20px) rotateY(90deg);
          transform: translateX(-20px) rotateY(90deg); }
          main section.is_hover .image .wrapper-3d .cube-3d .left.left:after {
            background: linear-gradient(173deg, #9933ff 0%, #ff33ff 100%); }
        main section.is_hover .image .wrapper-3d .cube-3d .right {
          -webkit-transform: translateX(20px) rotateY(90deg);
          transform: translateX(20px) rotateY(90deg); }
          main section.is_hover .image .wrapper-3d .cube-3d .right.right:after {
            background: linear-gradient(-23deg, #9933ff 0%, #ff33ff 100%); }
        main section.is_hover .image .wrapper-3d .cube-3d .top {
          -webkit-transform: translateY(-20px) rotateX(90deg);
          transform: translateY(-20px) rotateX(90deg); }
          main section.is_hover .image .wrapper-3d .cube-3d .top.top:after {
            background: linear-gradient(150deg, #9933ff 0%, #ff33ff 100%); }
        main section.is_hover .image .wrapper-3d .cube-3d .front {
          -webkit-transform: translateZ(20px);
          transform: translateZ(20px); }
          main section.is_hover .image .wrapper-3d .cube-3d .front.front:after {
            background: linear-gradient(30deg, #9933ff 0%, #ff33ff 100%); }
        main section.is_hover .image .wrapper-3d .cube-3d .bottom {
          -webkit-transform: translateY(20px) rotateX(90deg);
          transform: translateY(20px) rotateX(90deg); }
          main section.is_hover .image .wrapper-3d .cube-3d .bottom.bottom:after {
            background: linear-gradient(290deg, #9933ff 0%, #ff33ff 100%); }
      main section.is_hover .image .wrapper-3d .triangle-3d {
        padding: 0;
        width: 16em;
        height: 16em;
        perspective: 100em;
        transform-style: preserve-3d;
        transform-origin: 50% 50%;
        animation: rot 10s infinite linear; }
        main section.is_hover .image .wrapper-3d .triangle-3d .side {
          overflow: hidden;
          position: absolute;
          width: inherit;
          height: inherit;
          -moz-backface-visibility: hidden; }
          main section.is_hover .image .wrapper-3d .triangle-3d .side:after, main section.is_hover .image .wrapper-3d .triangle-3d .side:before {
            overflow: hidden;
            position: absolute;
            width: inherit;
            height: inherit;
            transition: opacity .3s .3s;
            background-position: 50% 103%;
            background-size: 100% 88%;
            background-repeat: no-repeat;
            -moz-backface-visibility: hidden; }
          main section.is_hover .image .wrapper-3d .triangle-3d .side:before {
            opacity: 0; }
          main section.is_hover .image .wrapper-3d .triangle-3d .side:after {
            opacity: 1;
            background-image: url("/imgs/triangle.png"); }
          main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:first-child {
            -webkit-transform: translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);
            transform: translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866); }
            main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:first-child:before {
              background: linear-gradient(297deg, #9933ff 0%, #ff33ff 100%); }
          main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:nth-child(2) {
            -webkit-transform: rotateY(120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);
            transform: rotateY(120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866); }
            main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:nth-child(2):before {
              background: linear-gradient(-59deg, #9933ff 0%, #ff33ff 100%); }
          main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:nth-child(3) {
            -webkit-transform: rotateY(-120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);
            transform: rotateY(-120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866); }
            main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:nth-child(3):before {
              background: linear-gradient(296deg, #9933ff 0%, #ff33ff 100%); }
          main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:last-child {
            -webkit-transform: translateZ(4.6188em) rotateX(90deg) rotateY(180deg) rotate(30deg) skewY(30deg) scaleX(0.866);
            transform: translateZ(4.6188em) rotateX(90deg) rotateY(180deg) rotate(30deg) skewY(30deg) scaleX(0.866); }
            main section.is_hover .image .wrapper-3d .triangle-3d .side.triangle:last-child:before {
              background: linear-gradient(303deg, #9933ff 0%, #ff33ff 100%); }
        main section.is_hover .image .wrapper-3d .triangle-3d .triangle:after, main section.is_hover .image .wrapper-3d .triangle-3d .triangle:before {
          -webkit-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
          -ms-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
          transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
          content: ''; }
  main section.is_hover.hover {
    background-color: #0044ea;
    color: white; }
    main section.is_hover.hover a {
      color: white;
      border-color: rgba(255, 255, 255, 0.3); }
    main section.is_hover.hover .image .img {
      opacity: 0; }
    main section.is_hover.hover .image .img__hover, main section.is_hover.hover .image .img__mask {
      opacity: 1; }
    main section.is_hover.hover .image .blink {
      opacity: 2; }
    main section.is_hover.hover .image .img__mask {
      clip-path: circle(400px at center); }
    main section.is_hover.hover .image .wrapper-3d .triangle-3d .side:before {
      opacity: 1; }
    main section.is_hover.hover .image .wrapper-3d .triangle-3d .side:after {
      opacity: 0; }
  main section.is_hover a {
    transition: 0.4s ease-out 0.25s;
    transition-property: all;
    color: #0044ea;
    border-color: rgba(0, 68, 234, 0.3); }
    main section.is_hover a:hover {
      opacity: 0.7; }
  main section.is_hover h2 {
    line-height: 4.5rem;
    border-bottom: 1px solid rgba(178, 178, 178, 0.3);
    display: inline; }
    main section.is_hover h2 span {
      margin-left: -0.4rem; }
    @media (min-width: 768px) {
      main section.is_hover h2 {
        line-height: 5.8rem; } }
  main section.is_hover:first-child {
    border-top: none; }

main section.hover {
  background-color: #0044ea;
  color: #fff; }
  main section.hover a {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.3); }

main section .nav__list {
  margin-top: 17px;
  list-style-type: none;
  font-family: "fira sans";
  font-weight: 400; }
  main section .nav__list li {
    transition: opacity 0.2s ease;
    display: inline-block;
    margin-right: 20px;
    line-height: 1.7; }

main section.index__title {
  padding-top: 156px;
  padding-bottom: 25px; }
  main section.index__title .image {
    height: 350px; }
    main section.index__title .image .img, main section.index__title .image .img__mask, main section.index__title .image .img__hover {
      position: absolute;
      top: -30px;
      left: 0;
      width: 100%;
      height: 100%;
      max-width: none; }
    main section.index__title .image .img__mask {
      z-index: 1; }
    main section.index__title .image .img__hover {
      z-index: 2; }
    @media (min-width: 992px) {
      main section.index__title .image {
        height: 400px; } }
    main section.index__title .image .wrapper-3d {
      top: 5%;
      left: 16%;
      transform: scale(0.5); }
      @media (min-width: 992px) {
        main section.index__title .image .wrapper-3d {
          transform: scale(0.7); } }

@media (min-width: 768px) {
  main section.index__server {
    padding-bottom: 50px; } }

@media (min-width: 768px) {
  main section.index__watcher {
    padding-bottom: 100px; } }

@media (min-width: 768px) {
  main section.index__solutions {
    padding-bottom: 100px; } }

main section.index__solutions .image .wrapper-3d {
  top: 12%;
  right: 30%; }

main section.index__solutions.is_hover .image .img, main section.index__solutions.is_hover .image .img__hover, main section.index__solutions.is_hover .image .img__mask {
  top: 30px; }

main section.index__solutions.is_hover.hover .image .wrapper-3d .cube-3d .side:before {
  opacity: 0; }

main section.index__solutions.is_hover.hover .image .wrapper-3d .cube-3d .side:after {
  opacity: 1; }

@media (min-width: 768px) {
  main section.index__cloud {
    padding-bottom: 80px; } }

main section.index__cloud h2 {
  position: relative; }
  main section.index__cloud h2 label {
    font-family: "fira sans";
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0.009em;
    margin: 5px;
    padding: 0px 5px 2px 5px;
    background-color: #00be82;
    color: #fff;
    border-radius: 2px;
    position: absolute;
    line-height: initial;
    top: 0;
    right: 0;
    transform: translateX(120%); }

main section.index__cloud .image .wrapper-3d {
  top: 28%;
  left: 26%;
  transform: scale(0.4); }

main section.index__contacts {
  padding: 30px 0; }
  @media (min-width: 768px) {
    main section.index__contacts {
      padding: 60px 0; } }
  main section.index__contacts p {
    margin-top: 25px; }
  main section.index__contacts .social-media {
    margin-top: 20px;
    line-height: 25px; }
    main section.index__contacts .social-media .social-link {
      display: inline-block;
      vertical-align: middle;
      text-decoration: none;
      margin-right: 20px;
      text-align: center;
      transition: all 0.2s ease;
      transition-property: color, opacity;
      fill: #fff;
      font-size: 3.9rem;
      border: none; }
      main section.index__contacts .social-media .social-link svg {
        fill: #fff;
        font-size: 3.9rem;
        display: block;
        margin: auto;
        width: 1em;
        height: 1em;
        fill: #fff; }
      main section.index__contacts .social-media .social-link:hover {
        opacity: 0.8; }
  main section.index__contacts .address svg {
    height: 21px;
    width: 16px;
    display: inline-block;
    vertical-align: top;
    margin-right: 2px; }
  main section.index__contacts .nav__list {
    padding-left: 25px; }
    main section.index__contacts .nav__list li {
      display: block;
      margin-bottom: 15px; }
      main section.index__contacts .nav__list li:last-of-type {
        margin-bottom: 0; }
      main section.index__contacts .nav__list li a {
        border-color: transparent; }
        main section.index__contacts .nav__list li a:hover {
          border-color: #fff; }

main section.index__map {
  height: 445px; }
