﻿header {
  background-color: transparent; }
  header.shadow {
    background-color: #002dab;
    box-shadow: 0 0 15px #000; }
  header .actions ul li.search__wrap {
    background-color: #002dab; }

body {
  color: #fff;
  background: #002dab;
  padding-top: 0; }

main h3 {
  font-size: 32px;
  font-family: "fira sans";
  font-weight: 200;
  margin-top: 30px; }
  main h3:first-child {
    margin-top: 0; }

main p {
  margin-top: 20px; }

main .top_area {
  padding-top: 105px;
  padding-bottom: 90px; }

main .toparea__svg {
  position: absolute;
  right: 170px;
  top: -130px;
  z-index: -1; }

main .title, main.title {
  overflow: hidden;
  position: relative; }

main .inner__features {
  color: #000;
  background: #FFF; }
  main .inner__features .btn__accord {
    background: #f4f4f4;
    padding: 15px 0;
    cursor: pointer;
    transition: background 0.2s ease; }
    main .inner__features .btn__accord:hover {
      background: #ff0c71;
      color: #fff; }
      main .inner__features .btn__accord:hover .accord__icon svg {
        fill: #fff; }
    main .inner__features .btn__accord .accord__title {
      display: inline-block;
      vertical-align: top;
      font-size: 3rem;
      line-height: 1;
      margin-top: 10px;
      transition: color 0.2s ease; }
    main .inner__features .btn__accord .accord__icon {
      display: inline-block;
      vertical-align: top;
      margin-right: 17px;
      height: 45px;
      vertical-align: top; }
      main .inner__features .btn__accord .accord__icon svg {
        font-size: 1rem;
        fill: #000;
        width: 45px;
        height: 45px;
        transition: all 0.2s ease; }
    main .inner__features .btn__accord.show .accord__icon svg {
      -moz-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
      filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
      zoom: 1; }
  main .inner__features .about__list {
    padding: 20px 60px 77px; }
    main .inner__features .about__list [class*=col-] {
      padding-left: 60px;
      padding-right: 20px;
      max-width: 520px;
      margin-top: 50px;
      font-size: 18px; }
      main .inner__features .about__list [class*=col-] .star {
        position: absolute;
        top: -5px;
        left: 0;
        opacity: 0;
        transition: opacity 200ms;
        width: 40px;
        height: 40px;
        border-radius: 50%; }
      main .inner__features .about__list [class*=col-]:hover .star {
        opacity: 1; }
    main .inner__features .about__list .about__link {
      max-width: 450px;
      font-size: 3.5rem;
      color: #0044ea;
      border: none; }
      main .inner__features .about__list .about__link:hover {
        color: #ff0c71; }
    main .inner__features .about__list ul {
      max-width: 360px;
      padding-right: 25px;
      margin-top: 20px;
      padding-left: 30px;
      list-style: none; }
      main .inner__features .about__list ul li {
        position: relative;
        margin-bottom: 10px;
        margin-top: 18px; }
        main .inner__features .about__list ul li:first-child {
          margin-top: 0; }
        main .inner__features .about__list ul li:before {
          position: absolute;
          content: "";
          top: 10px;
          left: -15px;
          border-radius: 50%;
          background-color: #0044ea;
          width: 3px;
          height: 3px; }
  main .inner__features .features__about {
    transition: height .6s ease;
    height: 0;
    overflow: hidden; }

main .inner__flussonic-trial {
  color: #000;
  background: #FFF;
  padding-top: 10rem;
  padding-bottom: 12rem; }

.inner__flussonic .top_area {
  padding-bottom: 0; }
  .inner__flussonic .top_area .image {
    text-align: right; }
    .inner__flussonic .top_area .image .img_wrapp {
      top: 31px;
      max-width: 320px;
      display: inline-block;
      position: relative; }
      .inner__flussonic .top_area .image .img_wrapp [class*=channel-gap-] {
        position: absolute;
        width: 56px;
        height: 53px;
        background-image: url("/imgs/flussonic_channel_gap.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover; }
        .inner__flussonic .top_area .image .img_wrapp [class*=channel-gap-].channel-gap-1 {
          top: 168px;
          left: -40px;
          -webkit-animation: gapone 6s linear infinite;
          animation: gapone 6s linear infinite; }
        .inner__flussonic .top_area .image .img_wrapp [class*=channel-gap-].channel-gap-2 {
          top: -7px;
          left: 290px;
          -webkit-animation: gaptwo 6s linear 1s infinite;
          animation: gaptwo 6s linear 1s infinite; }
        .inner__flussonic .top_area .image .img_wrapp [class*=channel-gap-].channel-gap-3 {
          top: 243px;
          left: 49px;
          -webkit-animation: gapthree 8s linear 2s infinite;
          animation: gapthree 8s linear 2s infinite; }

.inner__flussonic .inner__flussonic-users h3 {
  padding-top: 50px; }

.inner__flussonic .inner__flussonic-users .image {
  padding-left: 50px; }
  .inner__flussonic .inner__flussonic-users .image img {
    position: absolute;
    top: -50px;
    max-width: 330px; }
  .inner__flussonic .inner__flussonic-users .image .line_top {
    top: -96px;
    position: absolute;
    right: -380px;
    width: 120%;
    overflow: hidden; }
    .inner__flussonic .inner__flussonic-users .image .line_top svg {
      width: 1200px;
      float: right;
      height: 60px; }
  .inner__flussonic .inner__flussonic-users .image .line_bottom {
    bottom: -258px;
    position: absolute;
    left: 260px;
    width: 100%;
    overflow: hidden; }
    .inner__flussonic .inner__flussonic-users .image .line_bottom svg {
      width: 600px;
      height: 300px; }

@media (min-width: 768px) {
  .inner__flussonic .inner__flussonic-device {
    padding-top: 140px; } }

.inner__flussonic .inner__flussonic-device .image img {
  position: absolute;
  left: 100px;
  top: -160px; }

.inner__flussonic .inner__flussonic-process {
  margin-top: 120px;
  margin-bottom: 50px; }

.inner__flussonic .aft-device__list {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-wrap: wrap; }
  .inner__flussonic .aft-device__list .aft-device__item {
    flex-basis: 45%;
    position: relative;
    padding-right: 10px;
    margin-bottom: 30px; }
    .inner__flussonic .aft-device__list .aft-device__item[data-aos=fade-left] {
      transform: translate3d(1000px, 0, 0); }
    .inner__flussonic .aft-device__list .aft-device__item[data-aos^=fade][data-aos^=fade].aos-animate {
      transform: translateZ(0); }
    .inner__flussonic .aft-device__list .aft-device__item .aft-device__arrow {
      position: absolute;
      top: 34px;
      right: 12%; }
      .inner__flussonic .aft-device__list .aft-device__item .aft-device__arrow svg {
        width: 60px;
        height: 22px; }
    .inner__flussonic .aft-device__list .aft-device__item .aft-device__img {
      margin-bottom: 15px; }
      .inner__flussonic .aft-device__list .aft-device__item .aft-device__img svg {
        width: 90px;
        height: 90px; }
    .inner__flussonic .aft-device__list .aft-device__item .aft-device__title {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 2rem;
      margin-bottom: 5px; }
    @media (min-width: 768px) {
      .inner__flussonic .aft-device__list .aft-device__item {
        flex-basis: 30%; } }
    @media (min-width: 992px) {
      .inner__flussonic .aft-device__list .aft-device__item {
        flex-basis: 16.66667%; } }

.inner__watcher .top_area .image svg {
  position: absolute;
  top: -65px;
  left: 0;
  display: none; }

.inner__watcher .watcher_camera .image {
  animation: fade-in-up .4s linear; }
  .inner__watcher .watcher_camera .image .pic {
    position: absolute;
    top: -50px;
    left: -500px;
    height: auto;
    width: 735px;
    max-width: none;
    z-index: 1; }
  .inner__watcher .watcher_camera .image .line1 {
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -354px;
    right: -294px;
    z-index: -1; }

.inner__watcher .cluster__cube {
  margin-top: 70px; }
  @media (min-width: 768px) {
    .inner__watcher .cluster__cube {
      margin-top: 170px; } }
  .inner__watcher .cluster__cube .image .cluster__cube-cubes {
    position: absolute;
    bottom: -52px;
    left: 0;
    width: 303px;
    height: 281px; }
    .inner__watcher .cluster__cube .image .cluster__cube-cubes img {
      position: absolute; }
    .inner__watcher .cluster__cube .image .cluster__cube-cubes .cluster__cube-cube1 {
      z-index: 1; }
    .inner__watcher .cluster__cube .image .cluster__cube-cubes .cluster__cube-cube2 {
      left: 158px;
      top: -72px;
      width: 243px;
      -webkit-animation: clustertwo 6s ease-in-out infinite;
      animation: clustertwo 6s ease-in-out infinite; }
    .inner__watcher .cluster__cube .image .cluster__cube-cubes .cluster__cube-cube3 {
      left: 190px;
      top: 112px;
      width: 262px;
      -webkit-animation: clusterthree 6s ease-in-out infinite;
      animation: clusterthree 6s ease-in-out infinite; }

.inner__watcher .failure__prot {
  margin-top: 70px;
  position: relative; }
  @media (min-width: 768px) {
    .inner__watcher .failure__prot {
      margin-top: 170px; } }
  .inner__watcher .failure__prot .image .finger, .inner__watcher .failure__prot .image .finger__overlay {
    z-index: 1;
    position: absolute;
    top: -130px;
    left: 0;
    width: 300px;
    height: 420px; }
  .inner__watcher .failure__prot .image .finger__overlay {
    -webkit-animation: finger 8s cubic-bezier(0.395, 0, 0.495, 1) infinite;
    animation: finger 8s cubic-bezier(0.395, 0, 0.495, 1) infinite;
    border-bottom: 1px solid #d400ac;
    overflow: hidden; }
    .inner__watcher .failure__prot .image .finger__overlay svg {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 300px;
      height: 420px; }
  .inner__watcher .failure__prot .image .line2 {
    width: 585px;
    height: 100px;
    position: absolute;
    top: -149px;
    left: 239px; }
  .inner__watcher .failure__prot .image .line3 {
    width: 350px;
    height: 100px;
    position: absolute;
    bottom: -136px;
    left: 272px;
    stroke-width: 4;
    stroke-dasharray: 10, 8; }

.inner__watcher .integ__bill {
  margin-top: 50px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .inner__watcher .integ__bill {
      margin-bottom: 0px;
      margin-top: 150px; } }
  .inner__watcher .integ__bill .image {
    height: 400px; }
    .inner__watcher .integ__bill .image .phone, .inner__watcher .integ__bill .image .phone__overlay {
      z-index: 1;
      position: absolute;
      top: -100px;
      left: -30px; }
    .inner__watcher .integ__bill .image .phone__overlay {
      z-index: 2;
      -webkit-animation: pulsephone 3s linear infinite;
      animation: pulsephone 3s linear infinite; }

.inner__agent .top_area {
  padding-top: 105px;
  padding-bottom: 40px; }
  .inner__agent .top_area .image__server {
    position: relative; }
    .inner__agent .top_area .image__server svg {
      transform: scale(-1, 1);
      position: absolute;
      display: block;
      top: -290px;
      width: 508px;
      height: 865px;
      left: 66px; }
    .inner__agent .top_area .image__server .fill {
      fill: none;
      stroke: #003CFF;
      stroke-width: 2;
      stroke-dasharray: 12,6; }
    .inner__agent .top_area .image__server .line1, .inner__agent .top_area .image__server .line2, .inner__agent .top_area .image__server .line3 {
      position: absolute; }
    .inner__agent .top_area .image__server .line1 {
      width: 440px;
      height: 180px;
      bottom: -262px;
      top: unset;
      left: -176px;
      transform: scaleX(1); }
    .inner__agent .top_area .image__server .line2 {
      width: 80px;
      height: 200px;
      transform: scaleX(1);
      bottom: -470px;
      top: unset;
      left: 200px; }
    .inner__agent .top_area .image__server .line3 {
      width: 260px;
      height: 264px;
      transform: scaleX(1);
      bottom: -535px;
      top: unset;
      left: 192px; }
    .inner__agent .top_area .image__server .issues {
      position: absolute;
      top: 0;
      right: 100px;
      z-index: 1;
      position: absolute;
      font-family: "fira sans";
      font-weight: 400;
      font-size: 1.8rem;
      justify-content: center;
      text-align: center; }
      .inner__agent .top_area .image__server .issues .issues__item {
        height: 125px;
        width: 125px;
        border-radius: 50%;
        overflow: hidden;
        background-color: #002dab;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        line-height: 1.6; }
        .inner__agent .top_area .image__server .issues .issues__item:not(:last-of-type) {
          margin-bottom: 33px; }
        .inner__agent .top_area .image__server .issues .issues__item span {
          font-size: 22px;
          display: inline-block; }
        .inner__agent .top_area .image__server .issues .issues__item:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-image: url("/imgs/agent_issues_round.png");
          background-size: contain;
          background-repeat: no-repeat; }
    .inner__agent .top_area .image__server .scheme {
      position: absolute;
      font-size: 20px;
      top: 434px;
      left: -150px; }
      .inner__agent .top_area .image__server .scheme .scheme__item {
        padding: 0 10px;
        display: inline-block; }
        .inner__agent .top_area .image__server .scheme .scheme__item.lines {
          position: relative; }
          .inner__agent .top_area .image__server .scheme .scheme__item.lines:before, .inner__agent .top_area .image__server .scheme .scheme__item.lines:after {
            display: block;
            position: absolute;
            content: '';
            width: 4px;
            height: 407px;
            top: 50%;
            -webkit-transform: translateY(-52%);
            -ms-transform: translateY(-52%);
            transform: translateY(-52%);
            background-image: linear-gradient(to bottom, #b124af, #a212b7, #8f00bf, #7500c9, #4e01d3); }
          .inner__agent .top_area .image__server .scheme .scheme__item.lines:before {
            left: 0; }
          .inner__agent .top_area .image__server .scheme .scheme__item.lines:after {
            right: 0; }
        .inner__agent .top_area .image__server .scheme .scheme__item.last {
          margin-left: 60px; }
  .inner__agent .top_area .image__camera {
    position: relative;
    height: 482px;
    max-width: 439px; }
    .inner__agent .top_area .image__camera .img, .inner__agent .top_area .image__camera .mask {
      position: absolute;
      display: block;
      top: 45px;
      left: -90px;
      width: 100%; }
    .inner__agent .top_area .image__camera .img {
      transform: scale(-1, 1); }
    .inner__agent .top_area .image__camera .mask {
      animation-delay: 2s;
      opacity: 0; }
  .inner__agent .top_area .image__client {
    position: relative; }
    .inner__agent .top_area .image__client img {
      position: absolute;
      display: block;
      top: 470px;
      width: 533px;
      height: 330px;
      left: 80px; }

.inner__agent .text [class*=col-] {
  margin-bottom: 95px; }

.inner__prices .top_area {
  padding-top: 100px;
  padding-bottom: 50px; }

.inner__prices .price__nav {
  margin: 23px 0; }
  .inner__prices .price__nav .btn_nav {
    color: white;
    margin-right: 15px;
    border: none; }
    .inner__prices .price__nav .btn_nav:hover {
      color: #ff0c71; }
    .inner__prices .price__nav .btn_nav > * {
      display: inline-block;
      vertical-align: middle; }
    .inner__prices .price__nav .btn_nav.is-active span {
      border-color: transparent; }
    .inner__prices .price__nav .btn_nav.is-active:hover {
      color: white;
      cursor: default; }
    .inner__prices .price__nav .btn_nav.is-active svg circle {
      visibility: visible;
      opacity: 1; }
    .inner__prices .price__nav .btn_nav svg g {
      stroke: currentColor; }
    .inner__prices .price__nav .btn_nav svg circle {
      visibility: hidden;
      opacity: 0;
      transition: all 0.2s ease; }
    .inner__prices .price__nav .btn_nav span {
      border-bottom: 1px dotted; }

.inner__prices .plans {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 60px;
  color: #000;
  overflow: hidden; }
  .inner__prices .plans .plan {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    float: left;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transform-origin: center 100px;
    -ms-transform-origin: center 100px;
    transform-origin: center 100px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.2s ease; }
    .inner__prices .plans .plan:hover {
      box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.2); }
    .inner__prices .plans .plan .plan__title {
      background-color: #002dab;
      padding: 16px 0;
      text-align: center;
      font-size: 1.17em;
      font-weight: bold;
      color: #fff; }
      .inner__prices .plans .plan .plan__title.blue {
        background-color: #0044ea; }
    .inner__prices .plans .plan .plan__description {
      padding: 20px 40px;
      padding-left: 60px;
      padding-bottom: 14px;
      margin-bottom: 0px;
      list-style-type: disc;
      min-height: 210px; }
    .inner__prices .plans .plan .plan__form {
      margin: 16px 40px 20px 40px; }
      .inner__prices .plans .plan .plan__form p {
        margin-top: 0;
        margin-bottom: 21px;
        font-size: 14px;
        display: inline-block; }
    .inner__prices .plans .plan hr.delim {
      display: block;
      margin: 0px 40px;
      height: 0px;
      border: none;
      border-top: 1px solid #eee; }
    .inner__prices .plans .plan a {
      color: #0044ea;
      border-bottom: 1px solid rgba(0, 60, 255, 0.3); }
      .inner__prices .plans .plan a:hover {
        color: #ff0c71;
        border-color: rgba(255, 0, 0, 0.3); }
    @media (min-width: 576px) {
      .inner__prices .plans .plan {
        margin-right: 20px;
        width: calc(50% - 20px); }
        .inner__prices .plans .plan:last-child {
          margin-right: 0;
          width: 50%; } }
    @media (min-width: 768px) {
      .inner__prices .plans .plan {
        margin-right: 20px;
        width: calc(33% - 20px); }
        .inner__prices .plans .plan:last-child {
          width: 33%; } }
    @media (min-width: 992px) {
      .inner__prices .plans .plan {
        margin-right: 20px;
        width: calc(25% - 20px); }
        .inner__prices .plans .plan:last-child {
          width: 25%; } }

.inner__doc {
  margin-top: 71px; }
  .inner__doc .top_area {
    padding-top: 0px;
    padding-bottom: 30px; }
  .inner__doc .doc_navi h1 {
    font-size: 4rem; }
  .inner__doc .doc_navi h2 {
    margin-bottom: 30px; }
    .inner__doc .doc_navi h2 img {
      height: 40px; }
      @media (min-width: 768px) {
        .inner__doc .doc_navi h2 img {
          height: 50px; } }
      @media (min-width: 992px) {
        .inner__doc .doc_navi h2 img {
          height: 70px; } }
      @media (min-width: 1200px) {
        .inner__doc .doc_navi h2 img {
          height: 80px; } }
  .inner__doc .doc_navi h3 {
    font-size: 2.4rem;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 400; }
  .inner__doc .doc_navi h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 1; }
    .inner__doc .doc_navi h4 a {
      border-color: rgba(255, 255, 255, 0.3); }
  .inner__doc .doc_navi ul, .inner__doc .doc_navi ol {
    margin-bottom: 20px;
    list-style-type: disc;
    padding-left: 20px; }
  .inner__doc .doc_navi a {
    color: white;
    border-color: rgba(255, 255, 255, 0.2); }
    .inner__doc .doc_navi a:hover {
      border-color: rgba(255, 255, 255, 0.3); }
  .inner__doc .doc_navi .doc__download {
    position: relative;
    border: none; }
    .inner__doc .doc_navi .doc__download span {
      display: inline-block;
      transition: all 0.2s ease;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);
      line-height: 1; }
    .inner__doc .doc_navi .doc__download img {
      height: 45px;
      vertical-align: middle;
      margin-right: 14px; }
    .inner__doc .doc_navi .doc__download:hover span {
      border-bottom: 1px solid rgba(255, 255, 255, 0.6); }
  .inner__doc .doc_navi .bg_image {
    position: absolute;
    z-index: -1; }
  .inner__doc .doc_navi .doc_server, .inner__doc .doc_navi .doc_watcher {
    padding-top: 60px;
    padding-bottom: 50px; }
  .inner__doc .doc_navi .doc_server .bg_image {
    width: 900px;
    height: 587px;
    top: -341px;
    right: -50px; }
  @media (min-width: 992px) {
    .inner__doc .doc_navi .doc_server {
      padding-right: 110px; } }
  .inner__doc .doc_navi .doc_watcher .bg_image {
    width: 500px;
    height: 371px;
    right: -100px;
    top: -40px; }
  @media (min-width: 768px) {
    .inner__doc .doc_navi .doc_watcher .bg_image {
      right: -260px;
      top: -140px; } }
  @media (min-width: 992px) {
    .inner__doc .doc_navi .doc_watcher {
      padding-left: 110px; } }
  .inner__doc .doc_navi .doc-left {
    position: relative; }
    .inner__doc .doc_navi .doc-left:before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 10000px;
      display: block;
      right: 0;
      background: #0044ea;
      z-index: -1; }
  .inner__doc .doc_navi .doc__lists {
    margin-bottom: 40px;
    margin-top: 40px;
    column-count: 2; }
    .inner__doc .doc_navi .doc__lists .doc_list {
      box-sizing: border-box; }
      .inner__doc .doc_navi .doc__lists .doc_list a {
        display: inline;
        border-color: transparent; }
        .inner__doc .doc_navi .doc__lists .doc_list a:hover {
          text-decoration: underline; }
      .inner__doc .doc_navi .doc__lists .doc_list h4 {
        margin-top: 0;
        margin-bottom: 10px;
        font-size: 2rem;
        line-height: 1; }
        .inner__doc .doc_navi .doc__lists .doc_list h4 a {
          border-color: rgba(255, 255, 255, 0.4);
          display: inline-block;
          line-height: 1; }
          .inner__doc .doc_navi .doc__lists .doc_list h4 a:hover {
            text-decoration: none;
            border-color: white; }
  .inner__doc .doc__content {
    background-color: #fff;
    color: #000;
    padding-top: 11px;
    font-size: 1.8rem; }
    .inner__doc .doc__content ul, .inner__doc .doc__content ol {
      padding-left: 25px;
      counter-reset: item; }
      .inner__doc .doc__content ul li, .inner__doc .doc__content ol li {
        margin-top: 18px;
        position: relative; }
        .inner__doc .doc__content ul li:first-child, .inner__doc .doc__content ol li:first-child {
          margin-top: 0; }
        .inner__doc .doc__content ul li:before, .inner__doc .doc__content ol li:before {
          content: "";
          position: absolute; }
    .inner__doc .doc__content ul li:before {
      top: 10px;
      left: -15px;
      width: 4px;
      height: 4px;
      border-radius: 4px;
      background-color: #0044ea; }
    .inner__doc .doc__content ol {
      counter-reset: list; }
      .inner__doc .doc__content ol li:before {
        counter-increment: list;
        content: counter(list);
        top: 0;
        left: -18px;
        color: #0044ea; }
    .inner__doc .doc__content .navi {
      margin-top: 30px; }
      .inner__doc .doc__content .navi ol {
        counter-reset: item;
        list-style-type: none;
        padding: 0; }
        .inner__doc .doc__content .navi ol li:before {
          position: static;
          content: counters(item, ".") " ";
          counter-increment: item; }
        .inner__doc .doc__content .navi ol li a {
          border: none; }
        .inner__doc .doc__content .navi ol li > ol {
          margin-top: 15px;
          padding-left: 15px; }
        .inner__doc .doc__content .navi ol li.is-active a {
          color: #0044ea; }

.inner__support .title {
  overflow: hidden;
  position: relative; }
  .inner__support .title .top_area {
    padding-top: 140px;
    padding-bottom: 130px; }
    .inner__support .title .top_area h1 {
      font-size: 4rem; }
  .inner__support .title .toparea__svg {
    position: absolute;
    right: 170px;
    top: -130px; }

.inner__support .content {
  background-color: #fff;
  color: #000;
  padding-top: 5rem;
  padding-bottom: 65px;
  font-size: 1.8rem; }
  .inner__support .content hr {
    margin: 35px -30vw 35px 0;
    padding: 0;
    height: 1px;
    border: none;
    background: #E7E7E7; }
  .inner__support .content p {
    margin-top: 20px; }
  .inner__support .content table strong {
    font-family: "fira sans";
    font-weight: 400; }
  .inner__support .content table tr {
    transition: background .2s, color .2s; }
    .inner__support .content table tr:hover {
      color: #fff;
      background: #0044ea; }
      .inner__support .content table tr:hover td:first-child:before,
      .inner__support .content table tr:hover td:last-child:before {
        background: #0044ea; }
    .inner__support .content table tr td {
      position: relative;
      padding: 9px;
      padding-left: 0;
      vertical-align: top; }
      .inner__support .content table tr td:first-child:before, .inner__support .content table tr td:last-child:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        width: 40vw;
        transition: background .2s;
        background: transparent; }
      .inner__support .content table tr td:first-child:before {
        right: 100%; }
      .inner__support .content table tr td:last-child:before {
        left: 100%; }

.inner__clients h1 {
  font-size: 4rem; }

.inner__clients .top_area {
  padding-top: 140px;
  padding-bottom: 150px; }

.inner__clients .customers {
  padding-top: 5rem;
  background-color: #fff;
  color: #000; }
  .inner__clients .customers .customers__list {
    list-style-type: none;
    font-size: 0; }
    .inner__clients .customers .customers__list .customers__list-item {
      display: inline-block;
      vertical-align: top;
      font-size: 16px;
      font-size: 1.6rem;
      width: auto;
      margin-top: 20px;
      box-sizing: border-box;
      margin-bottom: 50px; }
      .inner__clients .customers .customers__list .customers__list-item:first-child {
        margin-top: 0; }
      .inner__clients .customers .customers__list .customers__list-item:nth-child(2n+1) {
        margin-left: 0; }
      .inner__clients .customers .customers__list .customers__list-item a {
        color: #0044ea;
        border-color: rgba(0, 68, 234, 0.3); }
      .inner__clients .customers .customers__list .customers__list-item .customer__pic {
        height: 60px;
        margin-bottom: 10px;
        line-height: 6rem;
        font-size: 0;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        opacity: 0.4;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        transition: all 0.2s ease; }
        .inner__clients .customers .customers__list .customers__list-item .customer__pic a {
          display: inline-block;
          height: 100%;
          border: none;
          text-decoration: none;
          max-width: 100%; }
        .inner__clients .customers .customers__list .customers__list-item .customer__pic img {
          display: inline-block;
          vertical-align: middle;
          max-height: 60px;
          max-width: 100%; }
      .inner__clients .customers .customers__list .customers__list-item h4 {
        margin-bottom: 0; }
      .inner__clients .customers .customers__list .customers__list-item .customer__partner-label {
        margin-bottom: 5px; }
      .inner__clients .customers .customers__list .customers__list-item .customer__text {
        margin-top: 5px; }
      .inner__clients .customers .customers__list .customers__list-item:hover .customer__pic {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        opacity: 1; }
      .inner__clients .customers .customers__list .customers__list-item:hover a {
        border-color: rgba(255, 0, 0, 0.3);
        color: red; }
      @media (min-width: 600px) {
        .inner__clients .customers .customers__list .customers__list-item {
          margin-top: 0;
          width: calc(49% - 40px);
          margin-left: 40px; }
          .inner__clients .customers .customers__list .customers__list-item:nth-child(2n+1) {
            margin-left: 0; } }
      @media (min-width: 992px) {
        .inner__clients .customers .customers__list .customers__list-item {
          width: calc(33.1% - 40px);
          margin-left: 60px; }
          .inner__clients .customers .customers__list .customers__list-item:nth-child(2n+1) {
            margin-left: 60px; }
          .inner__clients .customers .customers__list .customers__list-item:nth-child(3n+1) {
            margin-left: 0; } }

.inner__blog .title {
  overflow: hidden;
  position: relative; }
  .inner__blog .title .top_area {
    padding-top: 140px;
    padding-bottom: 130px; }
    .inner__blog .title .top_area h1 {
      font-size: 4rem; }

.inner__blog .blog {
  background-color: #fff;
  padding-top: 50px;
  padding-bottom: 65px;
  color: #000; }
  @media (min-width: 992px) {
    .inner__blog .blog .blog__list,
    .inner__blog .blog .blog__content {
      width: 86%; } }
  .inner__blog .blog .blog__list .is-hidden-post,
  .inner__blog .blog .blog__content .is-hidden-post {
    display: none; }
  .inner__blog .blog .blog__list .blog__list-item,
  .inner__blog .blog .blog__content .blog__list-item {
    margin-bottom: 40px; }
    .inner__blog .blog .blog__list .blog__list-item .item__title,
    .inner__blog .blog .blog__content .blog__list-item .item__title {
      font-size: 3.5rem; }
      .inner__blog .blog .blog__list .blog__list-item .item__title a,
      .inner__blog .blog .blog__content .blog__list-item .item__title a {
        display: inline; }
    .inner__blog .blog .blog__list .blog__list-item .item__date,
    .inner__blog .blog .blog__content .blog__list-item .item__date {
      display: block;
      font-size: 1.4rem;
      margin-top: 5px;
      color: #999; }
