﻿@-webkit-keyframes blink {

    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
@keyframes blink {

    0%, 100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}
%blink {
    -webkit-animation: blink 2s ease-in-out infinite;
    -moz-animation: blink 2s ease-in-out infinite;
    animation: blink 2s ease-in-out infinite;
}

@keyframes rot {
    from {
        -webkit-transform: rotateX(0deg) rotateY(15deg) rotateZ(100deg);
        transform: rotateX(0deg) rotateY(15deg) rotateZ(100deg);
    }

    to {
        -webkit-transform: rotateX(360deg) rotateY(15deg) rotateZ(100deg);
        transform: rotateX(360deg) rotateY(15deg) rotateZ(100deg);
    }
}

@-webkit-keyframes cube-rot {
    from {
        -webkit-transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
        transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
    }

    to {
        -webkit-transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
        transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
    }
}
@keyframes cube-rot {
    from {
        -webkit-transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
        transform: rotateX(0deg) rotateY(-26deg) rotateZ(23deg);
    }

    to {
        -webkit-transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
        transform: rotateX(360deg) rotateY(-26deg) rotateZ(23deg);
    }
}

@-webkit-keyframes gapone {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    80% {
        -webkit-transform: translate(257px, -193px);
        transform: translate(257px, -193px)
    }

    100% {
        -webkit-transform: translate(258px, -193px);
        transform: translate(258px, -193px)
    }
}
@keyframes gapone {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    80% {
        -webkit-transform: translate(257px, -193px);
        transform: translate(257px, -193px)
    }

    100% {
        -webkit-transform: translate(258px, -193px);
        transform: translate(258px, -193px)
    }
}

@-webkit-keyframes gaptwo {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    80% {
        -webkit-transform: translate(-334px, 249px);
        transform: translate(-334px, 249px)
    }

    100% {
        -webkit-transform: translate(-334px, 249px);
        transform: translate(-334px, 249px)
    }
}
@keyframes gaptwo {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    80% {
        -webkit-transform: translate(-334px, 249px);
        transform: translate(-334px, 249px)
    }

    100% {
        -webkit-transform: translate(-334px, 249px);
        transform: translate(-334px, 249px)
    }
}

@-webkit-keyframes gapthree {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    100% {
        -webkit-transform: translate(257px, -193px);
        transform: translate(257px, -193px)
    }
}
@keyframes gapthree {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    20% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }

    100% {
        -webkit-transform: translate(257px, -193px);
        transform: translate(257px, -193px)
    }
}

@-webkit-keyframes pulsephone {
    0% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
@keyframes pulsephone {
    0% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
%pulsephone {
    -webkit-animation: pulsephone 3s linear infinite;
    -moz-animation: pulsetwo 3s linear infinite;
    animation: pulsephone 3s linear infinite;
}

@-webkit-keyframes pulsetwo {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}
@keyframes pulsetwo {
    0% {
        opacity: 0
    }

    40% {
        opacity: 1
    }

    80% {
        opacity: 0
    }

    100% {
        opacity: 0
    }
}
%pulsetwo {
    -webkit-animation: pulsetwo 3s linear infinite;
    -moz-animation: pulsetwo 3s linear infinite;
    animation: pulsetwo 3s linear infinite;
}

@-webkit-keyframes fade_in_up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    50% {
        opacity: .5;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fade_in_up {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }

    50% {
        opacity: .5;
        transform: translateY(5px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
%fade_in_up {
    -webkit-animation: fade_in_up .3s linear;
    -moz-animation: fade_in_up .3s linear;
    animation: fade_in_up .3s linear;
}

@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fade_in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}
%fade_in {
    -webkit-animation: fade_in .4s linear;
    -moz-animation: fade_in .4s linear;
    animation: fade_in .4s linear;
    opacity: 1 !important;
}


@-webkit-keyframes clustertwo {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }

    10% {
        opacity: 0.8;
        -webkit-transform: translate(34px, -18px);
        transform: translate(34px, -18px)
    }

    50% {
        opacity: 0.8;
        -webkit-transform: translate(34px, -18px);
        transform: translate(34px, -18px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}
@keyframes clustertwo {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }

    10% {
        opacity: 0.8;
        -webkit-transform: translate(34px, -18px);
        transform: translate(34px, -18px)
    }

    50% {
        opacity: 0.8;
        -webkit-transform: translate(34px, -18px);
        transform: translate(34px, -18px)
    }

    60% {
        opacity: 1;
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0)
    }
}

@-webkit-keyframes clusterthree {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }

    10% {
        opacity: 0.8;
        -webkit-transform: translate(27px, 23px);
        transform: translate(27px, 23px)
    }

    50% {
        opacity: 0.8;
        -webkit-transform: translate(27px, 23px);
        transform: translate(27px, 23px)
    }

    60% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
}
@keyframes clusterthree {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }

    10% {
        opacity: 0.8;
        -webkit-transform: translate(27px, 23px);
        transform: translate(27px, 23px)
    }

    50% {
        opacity: 0.8;
        -webkit-transform: translate(27px, 23px);
        transform: translate(27px, 23px)
    }

    60% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
        opacity: 1
    }
}

@-webkit-keyframes finger {
    0% {
        opacity: 0;
        height: 0px
    }

    30% {
        opacity: 1
    }

    70% {
        opacity: 0;
        height: 430px
    }

    100% {
        opacity: 0;
        height: 430px
    }
}
@keyframes finger {
    0% {
        opacity: 0;
        height: 0px
    }

    30% {
        opacity: 1
    }

    70% {
        opacity: 0;
        height: 430px
    }

    100% {
        opacity: 0;
        height: 430px
    }
}

@-webkit-keyframes pulsephone {
    0% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}
@keyframes pulsephone {
    0% {
        opacity: 0
    }

    30% {
        opacity: 0
    }

    60% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}