body {
    background: #fff;
    color: black;
    line-height: 1.4;
    @include f("l");
    font-weight: 300;
    font-size: 1.6rem;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.menu_show {
        overflow: hidden;

        header {
            nav {
                display: inline-block;
            }
        }
    }
}

main {
    overflow: hidden;
}

.container {
    max-width: 1220px;
}
