﻿@mixin f($name, $font-size: null, $letter-spacing: null) {
    font-family: "fira sans";

    @if $name == "l" {
        font-weight: 100;
    }

    @if $name == "t" {
        font-weight: 200;
    }

    @if $name == "r" {
        font-weight: 400;
    }

    @if $name == "m" {
        font-weight: 500;
    }

    @if $name == "b" {
        font-weight: 700;
    }

    @if $name == "eb" {
        font-weight: 800;
    }

    @if $name == "u" {
        font-weight: 900;
    }

    @if $font-size != null {
        font-size: $font-size / 10 + rem;
    }

    @if $letter-spacing != null {
        letter-spacing: $letter-spacing / 1000 + em;
    }
}
