footer {
    padding: 15px 15px 20px;
    color: #999;
    font-size: 1.2rem;
    line-height: 1.5;
    border-top: 1px solid rgba(153,153,153,0.3);
    background: #FFF;
    text-align: center;

    a:not(:hover) {
        color: inherit;
        border-color: rgba(153,153,153,0.3);
    }

    .site-maker {
        min-width: 278px;
        position: relative;
        display: inline-block;
        text-align: left;
        margin-top: 15px;
        text-align: center;

        .logo-als {
            width: 90px;
            height: 38px;
            background: url(/imgs/als-logo.png) no-repeat center;
            background-size: contain;
            margin: 0 auto 10px;
            border: none;
            display: block;
            opacity: .6;

            @include min_width(768) {
                opacity: 1;
                float: left;
                margin: 2px 12px 0 0;
                border: none;
            }
        }


        @include min_width(768) {
            text-align: left;
            margin-left: 40%;
            margin-top: 0;
        }
    }

    .copyright {
        display: block;

        @include min_width(768) {
            text-align: left;
            display: inline-block;
            float: left;
        }
    }

    nav {
        margin-top: 15px;

        a {
            margin-left: 10px;
            display: inline-block;

            &:first-child {
                margin-left: 0;
            }
        }

        @include min_width(768) {
            margin-top: 0;
            margin-left: 15px;
            display: inline-block;
        }
    }


    @include min_width(768) {
        text-align: left;
    }
}
