header {
    position: fixed;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    padding: 22px 0px;
    transition: box-shadow 0.3s ease;
    color: $white;
    height: 71px;
    @include f("r");

    &.shadow {
        background-color: $color-blue;
        box-shadow: 0 0 15px $black;
    }

    .container {
        height: 27px;
        animation: fade_in_up .3s linear;
    }

    .logo {
        display: block;
        float: left;
        position: relative;
        top: -4px;
        position: relative;
        border: none;
        margin-left: -8px;

        svg {
            width: 154px;
            height: 34px;
            float: left;
            position: relative;
            left: -4px;
            top: -8px;

            .st0 {
                color: $white;
            }

            .blink {
                fill: $color-pink;
            }
        }

        @include min_width(768) {
            margin-right: 40px;
        }
    }

    a {
        $color: rgba(255, 255, 255, 0.5);
        $color-hover: rgba(255, 255, 255, 1);
        $color-border-hover: rgba(255, 255, 255, 0.3);
        color: #fff;
        border-color: $color;
        position: relative;

        &:hover {
            color: $color-hover;
            border-color: $color-border-hover;
        }
    }

    nav {
        display: none;
        float: left;
        font-weight: normal;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                display: block;
                line-height: 1.7;
                float: left;
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    transition: 0.4s ease-out 0.25s;

                    &:hover {
                        opacity: 0.7;
                    }
                }

                &.active {
                    &.active a {
                        border: none;

                        &:before {
                            position: absolute;
                            content: "";
                            top: -6px;
                            left: -8px;
                            right: -8px;
                            bottom: -6px;
                            border-radius: 2px;
                            border: 2px solid $color-blue;
                            transition: border-color 0.3s;
                        }
                    }
                }
            }
        }

        #header__nav {
            visibility: hidden;
            opacity: 0;
            transition: opacity 0.3s ease;
            z-index: 15;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0px;
            overflow: scroll;
            box-sizing: border-box;
            background-color: #0022c8;

            &.show {
                visibility: visible;
                opacity: 0.95;
            }

            .header__nav-header {
                position: relative;
                padding: 20px 0px;
                height: 30px;
            }

            .header__nav-content {
                padding: 90px 0px;
            }

            ul {
                margin-bottom: 50px;

                &.active li h3 {
                    border-bottom: none;
                }

                li {
                    float: none;
                    display: block;
                    margin-bottom: 10px;
                    transition: opacity 0.2s ease;

                    &:not(.header):hover {
                        opacity: 0.7;
                    }

                    &.active {
                        a {
                            position: relative;

                            &:before {
                                position: absolute;
                                content: "";
                                top: -4px;
                                left: -10px;
                                right: -10px;
                                bottom: -6px;
                                border-radius: 2px;
                                border: 2px solid $color-blue;
                                transition: border-color 0.3s;
                            }
                        }

                        h3 {
                            border-bottom: none;
                        }
                    }
                }
            }

            .header {
                h3 {
                    font-size: 1.5em;
                    font-weight: 500;
                    display: inline;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                    line-height: 1.4;
                }
            }

            a {
                border: none;
            }
        }
    }

    svg {
        fill: #fff;
    }

    .actions {
        float: right;
        position: relative;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
            overflow: hidden;

            li {
                display: block;
                float: left;
                margin-right: 18px;
                opacity: 0.5;
                line-height: 33px;
                transition: all 0.2s ease;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    opacity: 1;
                }

                &.search__wrap {
                    position: absolute;
                    top: -5px;
                    right: 64px;
                    transition: all 0.5s ease-out;
                    width: 0;
                    opacity: 0;
                    z-index: 12;
                    background-color: $color-blue;

                    &.is_active {
                        opacity: 1;
                        width: 214px;
                    }

                    .search__input {
                        width: 100%;
                        height: 30px;
                        color: #ccc;
                        @include f("t");
                        font-size: 1.6rem;
                        background: transparent;
                        border: none;
                        border-bottom: 1px solid #cccccc;
                        transition: all 0.5s ease-out;

                        &:hover {
                            color: white;

                            &::-webkit-input-placeholder {
                                color: white;
                                opacity: 1;
                            }

                            &::-moz-placeholder {
                                color: white;
                                opacity: 1;
                            }

                            &:-moz-placeholder {
                                color: white;
                                opacity: 1;
                            }

                            &:-ms-input-placeholder {
                                color: white;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }

        a {
            border: none;
        }
    }

    .btn__user {
        position: relative;
        cursor: pointer;
    }

    .btn__lang {
        cursor: pointer;
        top: -4px;
        font-weight: 700;
        @include f("r");
        position: relative;
        line-height: 1.5;

        &:before {
            content: "";
            position: absolute;
            bottom: 2px;
            left: 1px;
            width: 90%;
            height: 2px;
            background: #fff;
            transition: all 0.2s ease;
        }
    }

    .btn__search {
        cursor: pointer;
        background: none;
        border: none;
        position: relative;
        transition: all 0.5s ease-out;
        padding: 0;

        svg {
            transition: all 0.2s ease-out;
        }

        &.is_active {
            svg {
                transform: scale(1.2);
            }
        }
    }

    .btn__menu {
        cursor: pointer;
        top: -4px;
        left: -4px;
        position: relative;
        width: 33px;
        height: 33px;
        box-sizing: border-box;
        padding: 8px;
        color: #fff;
        background: none;
        border: none;

        &:before,
        &:after,
        > span {
            position: relative;
            content: "";
            display: block;
            width: 100%;
            border-top: 3px solid;
            transition: all 0.3s ease;
        }

        > span {
            margin: 4px 0;
        }
    }

    .btn__close {
        cursor: pointer;
        position: absolute;
        right: -8px;
        width: 33px;
        height: 33px;
        box-sizing: border-box;
        padding: 8px;
        color: #fff;
        opacity: 0.5;
        background: none;
        border: none;

        &:hover {
            opacity: 0.7;
        }

        &:before,
        &:after,
        & > span {
            position: relative;
            content: "";
            display: block;
            width: 100%;
            border-top: 3px solid;
            transition: all 0.3s ease;
        }

        > span {
            opacity: 0;
            margin: 4px 0;
        }

        &:before {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }

        &:after {
            margin-top: -14px;
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }
}

@media (min-width: 1010px) {
    header nav {
        display: inline-block;
    }
}
