
// Small devices (landscape phones, 576px and up)
@media (max-width: 575.98px) {
}

@media (min-width: 576px) {
}


// Medium devices (tablets, 768px and up)
@media (max-width: 767.98px) {
}

@media (min-width: 768px) {
}


// Large devices (desktops, 992px and up)
@media (max-width: 991.98px) {
}

@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
