@mixin fontWOFF($alias, $name) {
    @font-face {
        font-family: $alias;
        src: url("/fonts/"+$name+".woff2") format("woff2"), url("/fonts/"+$name+".woff") format("woff");
        font-weight: normal;
        font-style: normal;
    }
}

@mixin blink($color: null) {

}

@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
    -moz-transform: rotate($deg + deg);
    -o-transform: rotate($deg + deg);
    -webkit-transform: rotate($deg + deg);
    -ms-transform: rotate($deg + deg);
    transform: rotate($deg + deg);
    filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand');
    zoom: 1;
}

@mixin color-opacity($color, $opacity) {
    color: rgba($color, $opacity);
}

@mixin pseudo($display: block, $pos: absolute, $content: "") {
    content: $content;
    display: $display;
    position: $pos;
}

@mixin border-bottom-solid($color) {
    border-bottom: 1px solid $color;
}

@mixin max_width($width) {
    @media (max-width: $width+"px") {
        @content;
    }
}

@mixin min_width($width) {
    @media (min-width: $width+"px") {
        @content;
    }
}
