.popup-box {
    position: fixed;
    border-radius: 24px;
    display: none;
    z-index: 9999999;
    font-size: 14px;
    padding: 30px 30px 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: $white;
    max-width: 700px;
    width: 90%;
    border-radius: 8px;
    box-shadow: 0 0 10px $black;
    color: $black;

    .body {

        .title {
            font-size: 24px;
            margin-bottom: 28px;
        }
    }

    .close {
        position: absolute;
        top: 5px;
        right: 5px;
        cursor: pointer;
        font-size: 36px;
        line-height: 36px;
        opacity: .6;

        &:hover {
            opacity: 1;
        }
    }


    &.bottom-notify {
        top: unset;
        transform: none;
        bottom: 0;
        width: 100%;
        left: 0;
        max-width: none;
        border-radius: 0;
        box-shadow: 0 0 10px -6px $black;
        padding-top: 0;
    }
}

.blackout {
    background: rgba($black, .75);
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 9999;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}
