a {
    text-decoration: none;
    @include border-bottom-solid(rgba($black, 0.2));
    transition: all 0.2s ease;
    color: inherit;
    line-height: 1;
    display: inline-block;

    &:hover {
        color: rgba($color-pink, 1);
        border-color: rgba($color-pink, 0.3);
    }
}

h1 {
    @include f("t");
    font-size: 5rem;
    line-height: 1.2;
}

h2 {
    @include f("t");
    font-size: 3.4rem;
    line-height: 1.2;

    @include min_width(768) {
        font-size: 5rem;
    }
}

h3 {
    font-weight: bold;
}

h4 {
    margin-bottom: 10px;
    font-size: 2rem;
    @include f("r");
    font-size: 1.8rem;

    &:first-child {
        margin-top: 0;
    }
}

p {
    margin-top: 20px;
    line-height: 25px;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

strong {
    font-weight: 400;
}


.content {
    h1 {
        margin: 0 0 20px 0;
        @include f('t');
        font-size: 5rem;
        line-height: 1.2;
    }

    h2 {
        margin: 90px 0 20px;
        @include f('t');
        font-size: 5rem;

        &:first-child {
            margin-top: 0;
        }
    }


    h3 {
        margin: 65px 0 20px 0;
        @include f('t');
        font-size: 3.5rem;
    }

    h4 {
        margin: 40px 0 20px;
        @include f('m');
        font-size: 1.8rem;
    }

    a {
        color: $black;
        border-color: rgba($black, .2);

        &:hover {
            color: $color-pink;
            border-color: rgba($color-pink, .4);
        }
    }

    ul, ol {
        padding-right: 25px;
        margin-top: 20px;
        list-style-type: none;

        li {
            margin-top: 18px;
            position: relative;

            &:first-child {
                margin-top: 0;
            }

            &:before {
                content: "";
                position: absolute;
            }
        }
    }

    ul {
        li {
            &:before {
                top: 10px;
                left: -15px;
                width: 4px;
                height: 4px;
                border-radius: 4px;
                background-color: $color-blue;
            }
        }
    }

    ol {
        counter-reset: list;

        li {
            &:before {
                counter-increment: list;
                content: counter(list);
                top: 0;
                left: -18px;
                color: $color-blue;
            }
        }
    }
}