.ucrm-lh-form {
    margin-top: 16px;

    .forms-ucrm-column-flexbox {
        justify-content: flex-start;
    }

    .ucrm-future_agree {
        margin-top: 0px !important;
        margin-left: 10px !important;
        position: relative !important;
    }

    #lead-h-wrap {
        background: #000;
        opacity: 0;
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;
        height: 100%;
        transition: opacity .5s ease-out 0;
        cursor: pointer;
    }

    #lead-h-title {
        display: inline-block;
        margin-bottom: 12px;
        line-height: 18px;
        font-size: 18px;
    }

    #lead-h-close {
        position: absolute;
        width: 72px;
        top: 2px;
        right: 8px;
        font-size: 32px;
        text-align: right;
        display: inline-block;
        text-decoration: none;
        color: #ccc;
        cursor: pointer;
        font-weight: 700;
    }

    #lead-h-close:hover {
        text-decoration: none;
        color: #555;
    }

    #lead-h-input {
        border: 1px solid #999;
        height: 20px;
        width: 150px;
        background: #fff;
    }

    .ucrm-lh-text-label {
        display: block;
        font-size: 14px;
        line-height: 25px;
        font-weight: 400;
        margin-bottom: 0
    }

    .ucrm-lh-inner-table {
        padding: 0;
        margin: 0;
        border: 0;
        border-collapse: collapse;
        background-color: transparent;
        table-layout: auto !important
    }

    .ucrm-lh-inner-table td {
        padding: 0;
        margin: 0;
        border: 0;
        vertical-align: middle;
        background-color: transparent
    }

    input[type=text] {
        width: 100%;
        padding: 0 10px;
        border: 1px solid #aaa;
        border-radius: 5px;
        outline: none;
        line-height: 40px !important;
        height: 40px;
        box-shadow: none !important;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        @include min_width(768) {
            width: 215px;
        }
    }

    input[type=text]:hover {
        border: 1px solid #aaa !important
    }

    input[type=text]:focus, input[type=text]:active {
        border: 2px solid #66AFE9 !important
    }

    .ucrm-lh-btn-fix {
        visibility: hidden;
        margin-bottom: 0 !important;
        line-height: 25px !important
    }

    .ucrm-lh-submit {
        font-size: 14px !important;
        background: #0044ea;
        border: 1px solid #0044ea;
        border-radius: 5px;
        text-shadow: none;
        margin-top: 0px;
        width: auto;
        height: 40px;
        line-height: normal;
        color: #fff;
        cursor: pointer;
        padding: 5px 15px !important;
        outline: none;
        font-weight: 700;
    }

    .ucrm-lh-submit:hover, .ucrm-lh-submit:focus, .ucrm-lh-submit:active {
        opacity: 0.8
    }

    .ucrm-lh-submit:active {
        box-shadow: none
    }

    .ucrm-lh-submit-container {
        min-height: 70px;
        min-width: 130px
    }

    .ucrm-lh-name-input, .ucrm-lh-phone-input, .ucrm-lh-email-input {
        color: #333 !important;
    }

    .ucrm-lh-name-input, .lh-name-block {
        display: block;
    }

    .ucrm-lh-phone-input, .lh-phone-block {
        display: none;
    }

    .ucrm-lh-email-input, .lh-email-block {
        display: block;
    }

    .lead-h-header {
        border-bottom: 1px solid #eee !important;
        padding-bottom: 8px;
        float: left;
    }

    .lead-h-after {
        margin-top: 16px;
        float: left;
        font-size: 13px;
    }

    .ucrm-h-after {
        margin-top: 16px !important;
        float: right !important;
        font-size: 10px !important;
        color: #ccc !important
    }

    .ucrm-h-after a {
        font-size: 10px !important;
        color: #333 !important;
        font-weight: 700;
    }

    .lead-h-label {
        margin-top: 15px;
        margin-right: 12px;
        font-size: 16px !important;
        line-height: 13px;
    }

    .lead-h-hidden {
        display: none;
    }

    .lead-h-clear {
        clear: both;
        display: block;
    }

    .lead-h-content {
        clear: both;
        display: block;
    }

    .lead-h-text-placeholder {
        display: block;
        margin-bottom: 12px;
        font-size: 16px;
        line-height: 22px;
        max-width: 700px;
    }

    .text-after-send-leadhunter {
        display: none;
        padding-top: 30px;
        font-size: 24px;
        text-align: center;
    }

    .input-h-error {
        border: 2px solid #E0571A !important;
    }

    .ucrm-future_agree-check {
        width: 12px !important;
        height: 12px !important;
        display: inline-block !important;
        vertical-align: middle !important;
        margin-top: -2px !important;
        -webkit-appearance: checkbox !important;
    }

    @media (max-width:425px) {

        .forms-ucrm-flexbox {
            flex-direction: column;
        }

        .ucrm-lh-input {
            width: 100% !important;
        }

        .ucrm-lh-submit {
            float: none;
            width: 100% !important;
        }
    }

    @media (max-width:375px) {

        .forms-ucrm-flexbox {
            flex-direction: column;
        }

        .ucrm-lh-input {
            width: 100% !important;
        }

        .ucrm-lh-submit {
            float: none;
            width: 100% !important;
        }

        .ucrm-lh-form {
            margin: 20px 10px 10px;
        }
    }

    @media (max-width:320px) {

        .forms-ucrm-flexbox {
            flex-direction: column;
        }

        .ucrm-lh-input {
            width: 100% !important;
        }

        .ucrm-lh-submit {
            float: none;
            width: 100% !important;
        }
    }

    @import url(https://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic);

    .forms-ucrm-flexbox {
        justify-content: space-between;
        box-sizing: border-box;

        @include min_width(768) {
            display: flex;
            width: 100%;
        }
    }

    .forms-ucrm-column {
        flex: 1;
    }

    .forms-ucrm-column-flexbox {
        padding: 5px;
        height: auto;
        font-size: 14px;
        color: #666;
        font-weight: 500;
        text-align: left;
        box-sizing: border-box;
        justify-content: center;

        @include min_width(768) {
            display: flex;
            width: 100%;
        }
    }

    .vertikal-ucrm {
        flex-direction: column;
        max-width: 300px;
        margin: 0px auto;
    }

    .horizontal-ucrm {
        flex-direction: row;
    }

    .ucrm_future {
        display: inline-block;
        vertical-align: middle !important;
        font-weight: 300 !important;
        font-family: inherit !important;
        font-style: inherit !important;
        font-size: 100%;
        border: 0 none !important;
        outline: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        line-height: normal !important;
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
        text-align: left !important;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin: center;
        background-position: 0 0;
        background-repeat: repeat;
        content: none;
        max-width: initial !important;
    }

    .ucrm-future_agree-check {
        width: 12px !important;
        height: 12px !important;
        display: inline-block !important;
        vertical-align: middle !important;
        margin-top: -2px !important;
        -webkit-appearance: checkbox !important;
    }

    .ucrm_future, input[type="checkbox"] {
        display: inline-block !important;
        vertical-align: middle !important;
        font-weight: 300 !important;
        font-family: inherit !important;
        font-style: inherit !important;
        font-size: 100%;
        border: 0 none !important;
        outline: 0 !important;
        padding: 0 !important;
        margin: 0 !important;
        line-height: normal !important;
        -webkit-box-sizing: content-box !important;
        -moz-box-sizing: content-box !important;
        box-sizing: content-box !important;
        text-align: left !important;
        -webkit-transform-origin: center;
        -ms-transform-origin: center;
        -o-transform-origin: center;
        transform-origin: center;
        background-position: 0 0;
        background-repeat: repeat;
        content: none;
        max-width: initial !important;
    }
}
