$white: #fff;
$black: #000;

$color-pink: rgba(255, 12, 113, 1);
$color-pink-dim: rgba(137, 12, 67, 1);
$color-pink-dark: rgba(86, 17, 45, 1);

$color-blue: rgba(0, 68, 234, 1);
$color-blue-dim: rgba(0, 45, 171, 1);
$color-purple: rgba(72, 26, 189, 1);
$color-purple-dark: rgba(40, 24, 76, 1);

$color-green-dim: rgba(32, 97, 113, 1);
$color-green-dark: rgba(21, 58, 47, 1);
