@import "_mixins";
@import "_variables";
@import "_reset";
@import "_fonts";
@import "_animations";
@import "_header";
@import "_footer";
@import "_body";
@import "_typograph";
@import "_media";
@import "_popup";
@import "_ucrm";
@import "/css/aos.css";

html {
    font-size: 62.5%;
}

.field,
.select-field {
    position: relative;
    margin: 20px 0;

    .field__label {
        @include f("r");
        font-weight: normal;
        font-size: 1.6rem;
        letter-spacing: 0.15em;
        text-transform: uppercase;
        color: #9d9ca7;
        position: absolute;
        top: 0.6875em;
        left: 0;

        &.comment-label {
            position: relative;
            display: block;
        }
    }

    .input {
        display: block;
        box-sizing: border-box;
        height: 40px;
        height: 4rem;
        padding: 10px 0 9px 120px;
        padding: 1rem 0 0.9rem 12rem;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        @include f("r");
        font-weight: normal;
        font-size: 2rem;
        color: $black;
        resize: none;
        border-radius: 0;

        &.comment-input {
            margin-top: 15px;
            padding: 5px;
            min-height: 60px;
            @include border-bottom-solid(rgba($black, 0.2));
            border-radius: 5px;
        }
    }

    textarea {
        &.input {
            max-height: 200px;
            line-height: 1.3;
            padding-top: 0.7rem;
            padding-bottom: 0.6rem;
            -webkit-overflow-scrolling: touch;
        }

        &.input.comment-input {
            margin-top: 15px;
            padding: 5px;
            min-height: 60px;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius: 5px;
        }
    }

    &.form-check {
        position: relative;
        display: block;

        .form-check-label {
            margin-left: 10px;
            margin-bottom: 0;
            display: inline-block;
            @include f("l");
            font-weight: normal;
            font-size: 1.6rem;
            letter-spacing: 0.15em;
            text-transform: uppercase;
            color: #9d9ca7;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }

    a {
        color: $color-blue;
        border-bottom: 1px solid rgba($color-blue, 0.2);

        &:hover,
        &:focus {
            color: $color-pink;
            border-bottom: 1px solid rgba($color-pink, 0.3);
        }
    }
}

.form {
    button {
        img {
            vertical-align: middle;
        }
    }
}

.btn {
    margin-top: 20px;
    height: 45px;
    min-width: 140px;
    padding: 0 20px;
    line-height: 43px;
    background: none;
    font-family: "fira sans";
    font-weight: normal;
    font-size: 1.6rem;
    color: $color-blue;
    transition: all .2s ease;
    transition-property: color,background;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid $color-blue;
    display: block;
    border-radius: 2px;

    &.btn_fluid {
        display: block;
        width: 100%;
        border: none;
    }

    &.btn_solid {
        background: $color-blue-dim;
        border: none;
        color: $white;
        height: 50px;
        height: 5rem;
        line-height: 50px;
        line-height: 5rem;
        @include f("eb");
        font-weight: normal;
        font-size: 1.4rem;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }

    &.btn_try {
        background: $color-pink;
        color: #FFF !important;
        border: none;
    }


    &.red {
        border-color: $color-pink;
        color: $color-pink;
    }
}

.pres-link {
    display: inline-block;
    vertical-align: top;
    padding: 15px 19px;
    background: $color-pink;
    color: $white !important;
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 20px;
    border-radius: 2px;
    font-weight: 400;
    transition: all 0.2s ease;
}

.trial-link {
    border-color: rgba($white, .2);
    border-style: solid;
    border-bottom-width: 1px;
    display: inline-block;
    vertical-align: top;
    color: $white !important;
    font-size: 1.8rem;
    line-height: 1;
    margin-top: 35px;
    margin-left: 35px;
    font-weight: 400;
    transition: all 0.2s ease;

    &:hover {
        border-color: rgba($white, .5);
    }
}

.social__btns {
    font-size: 0;
    margin-top: 40px;
    margin-bottom: 40px;

    .social__btns-item {
        display: inline-block;
        vertical-align: top;
        width: 54px;
        height: 54px;
        border-radius: 50%;
        transition: all 0.2s ease;
        margin-right: 15px;
        position: relative;
        border: none;

        svg {
            fill: #fff;
            height: 24px;
            width: 24px;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -12px;
            margin-top: -12px;
        }

        &.social__btns-item-fb {
            $_color: #3b5998;

            background-color: rgba($_color, .9);

            &:hover {
                background-color: rgba($_color, 1);
            }
        }

        &.social__btns-item-tw {
            $_color: #55acee;

            background-color: rgba($_color, .9);

            &:hover {
                background-color: rgba($_color, 1);
            }
        }
    }
}

.hidden {
    display: none;
}

.show {
    display: block;
}

main {
    section {
        opacity: 0;

        .image {
            position: relative;

            @include max_width(768) {
                display: none;
            }
        }
    }

    .index__promo {
        padding: 70px 0px;

        h2 {
            line-height: 2.9rem;
            font-size: 2.5rem;
        }

        a {
            border: none;
        }

        .promo__image {

            .img_wrapp {
                width: 115px;
                height: 115px;
                text-align: center;
                position: relative;
                border-radius: 50%;
                background: #fff;
                overflow: hidden;
                padding: 4px;
            }

            @include min_width(768) {
                display: table-cell;
                vertical-align: middle;
            }
        }

        .promo__text {

            @include min_width(768) {
                display: table-cell;
                vertical-align: middle;
                padding-left: 55px;
            }
        }
    }
}

.blink {
    @extend %blink;
}

.pulsetwo {
    @extend %pulsetwo;
}

.pulsephone {
    @extend %pulsephone;
}

.fade_in_up {
    @extend %fade_in_up;
}

.fade_in {
    @extend %fade_in;
}
