@import "_fonts";
@import "_mixins";
@import "_variables";
@import "_animations";

header {
    background-color: $color-blue;
}

main {
    section {
        &.is_hover {
            border-top: 1px solid #e6e7ed;
            transition: 0.25s ease-out 0.25s;
            transition-property: all;
            background-color: rgba($color-blue, 0);
            opacity: 0;

            .text {
                padding-top: 150px;
                padding-bottom: 200px;

                @include max_width(768) {
                    padding-top: 70px;
                    padding-bottom: 70px;
                }
            }

            .image {
                transition: 0.4s ease-out 0.25s;

                .img, .img__hover, .img__mask {
                    position: absolute;
                    max-width: 570px;
                    width: 100%;
                    top: 60px;
                    transition: .4s ease-out .25s;
                    animation: none;
                }

                .img__hover, .img__mask {
                    opacity: 0;
                }

                .img__mask {
                    clip-path: circle(1px at 0px 600px);

                    &.right {
                        clip-path: circle(1px at 600px 500px);
                    }
                }

                .wrapper-3d {
                    position: absolute;
                    z-index: 2;
                    transition: opacity 0.4s 0.25s;
                    opacity: 1;

                    .cube-3d {
                        -webkit-perspective: 100em;
                        perspective: 100em;
                        -webkit-transform-style: preserve-3d;
                        transform-style: preserve-3d;
                        -webkit-transform-origin: 50% 50%;
                        -ms-transform-origin: 50% 50%;
                        transform-origin: 50% 50%;
                        width: 40px;
                        height: 40px;
                        position: relative;
                        -webkit-animation: cube-rot 10s infinite linear;
                        animation: cube-rot 10s infinite linear;

                        .side {
                            position: absolute;
                            width: 40px;
                            height: 40px;
                            overflow: hidden;

                            &:after, &:before {
                                content: "";
                                position: absolute;
                                width: 40px;
                                height: 40px;
                                left: 0;
                                top: 0;
                                box-sizing: border-box;
                                transition: opacity .3s .3s;
                            }

                            &:before {
                                border: 1px solid #001bff;
                                opacity: 1;
                            }

                            &:after {
                                opacity: 0;
                            }
                        }

                        .back {
                            -webkit-transform: translateZ(-20px);
                            transform: translateZ(-20px);

                            &:after {
                                background: linear-gradient(194deg, #9933ff 0%, #ff33ff 100%)
                            }
                        }

                        .left {
                            -webkit-transform: translateX(-20px) rotateY(90deg);
                            transform: translateX(-20px) rotateY(90deg);

                            &.left:after {
                                background: linear-gradient(173deg, #9933ff 0%, #ff33ff 100%);
                            }
                        }

                        .right {
                            -webkit-transform: translateX(20px) rotateY(90deg);
                            transform: translateX(20px) rotateY(90deg);

                            &.right:after {
                                background: linear-gradient(-23deg, #9933ff 0%, #ff33ff 100%);
                            }
                        }

                        .top {
                            -webkit-transform: translateY(-20px) rotateX(90deg);
                            transform: translateY(-20px) rotateX(90deg);

                            &.top:after {
                                background: linear-gradient(150deg, #9933ff 0%, #ff33ff 100%);
                            }
                        }

                        .front {
                            -webkit-transform: translateZ(20px);
                            transform: translateZ(20px);

                            &.front:after {
                                background: linear-gradient(30deg, #9933ff 0%, #ff33ff 100%);
                            }
                        }

                        .bottom {
                            -webkit-transform: translateY(20px) rotateX(90deg);
                            transform: translateY(20px) rotateX(90deg);

                            &.bottom:after {
                                background: linear-gradient(290deg, #9933ff 0%, #ff33ff 100%);
                            }
                        }
                    }

                    .triangle-3d {
                        padding: 0;
                        width: 16em;
                        height: 16em;
                        perspective: 100em;
                        transform-style: preserve-3d;
                        transform-origin: 50% 50%;
                        animation: rot 10s infinite linear;

                        .side {
                            overflow: hidden;
                            position: absolute;
                            width: inherit;
                            height: inherit;
                            -moz-backface-visibility: hidden;

                            &:after,
                            &:before {
                                overflow: hidden;
                                position: absolute;
                                width: inherit;
                                height: inherit;
                                transition: opacity .3s .3s;
                                background-position: 50% 103%;
                                background-size: 100% 88%;
                                background-repeat: no-repeat;
                                -moz-backface-visibility: hidden;
                            }

                            &:before {
                                opacity: 0
                            }

                            &:after {
                                opacity: 1;
                                background-image: url('/imgs/triangle.png');
                            }

                            &.triangle:first-child {
                                -webkit-transform: translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);
                                transform: translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);

                                &:before {
                                    background: linear-gradient(297deg, #9933ff 0%, #ff33ff 100%);
                                }
                            }

                            &.triangle:nth-child(2) {
                                -webkit-transform: rotateY(120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);
                                transform: rotateY(120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);

                                &:before {
                                    background: linear-gradient(-59deg, #9933ff 0%, #ff33ff 100%);
                                }
                            }

                            &.triangle:nth-child(3) {
                                -webkit-transform: rotateY(-120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);
                                transform: rotateY(-120deg) translateZ(4.6188em) rotateX(19.47deg) rotate(30deg) skewY(30deg) scaleX(0.866);

                                &:before {
                                    background: linear-gradient(296deg, #9933ff 0%, #ff33ff 100%);
                                }
                            }

                            &.triangle:last-child {
                                -webkit-transform: translateZ(4.6188em) rotateX(90deg) rotateY(180deg) rotate(30deg) skewY(30deg) scaleX(0.866);
                                transform: translateZ(4.6188em) rotateX(90deg) rotateY(180deg) rotate(30deg) skewY(30deg) scaleX(0.866);

                                &:before {
                                    background: linear-gradient(303deg, #9933ff 0%, #ff33ff 100%);
                                }
                            }
                        }

                        .triangle {

                            &:after,
                            &:before {
                                -webkit-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
                                -ms-transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
                                transform: scaleX(1.155) skewY(-30deg) rotate(-30deg) translateY(-50%);
                                content: '';
                            }
                        }
                    }
                }
            }

            &.hover {
                background-color: rgba($color-blue, 1);
                color: white;

                a {
                    color: rgba($white, 1);
                    border-color: rgba($white, 0.3);
                }

                .image {
                    .img {
                        opacity: 0;
                    }

                    .img__hover, .img__mask {
                        opacity: 1;
                    }

                    .blink {
                        opacity: 2;
                        @extend %blink;
                    }

                    .img__mask {
                        clip-path: circle(400px at center);
                    }

                    .wrapper-3d {
                        .triangle-3d {
                            .side {
                                &:before {
                                    opacity: 1;
                                }

                                &:after {
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
            }

            a {
                transition: 0.4s ease-out 0.25s;
                transition-property: all;
                color: $color-blue;
                border-color: rgba($color-blue, 0.3);

                &:hover {
                    opacity: 0.7;
                }
            }

            h2 {
                line-height: 4.5rem;
                border-bottom: 1px solid rgba(178, 178, 178, 0.3);
                display: inline;

                span {
                    margin-left: -0.4rem;
                }

                @include min_width(768) {
                    line-height: 5.8rem;
                }
            }

            &:first-child {
                border-top: none;
            }
        }

        &.hover {
            background-color: $color-blue;
            color: $white;

            a {
                color: $white;
                border-color: rgba($white, 0.3);
            }
        }

        .nav__list {
            margin-top: 17px;
            list-style-type: none;
            @include f("r");

            li {
                transition: opacity 0.2s ease;
                display: inline-block;
                margin-right: 20px;
                line-height: 1.7;
            }
        }

        &.index__title {
            padding-top: 156px;
            padding-bottom: 25px;

            .image {
                height: 350px;

                .img, .img__mask, .img__hover {
                    position: absolute;
                    top: -30px;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    max-width: none;
                }

                .img__mask {
                    z-index: 1;
                }

                .img__hover {
                    z-index: 2;
                }

                @include min_width(992) {
                    height: 400px;
                }

                .wrapper-3d {
                    top: 5%;
                    left: 16%;
                    transform: scale(.5);

                    @include min_width(992) {
                        transform: scale(.7);
                    }
                }
            }
        }

        &.index__server {


            @include min_width(768) {
                padding-bottom: 50px;
            }
        }

        &.index__watcher {

            @include min_width(768) {
                padding-bottom: 100px;
            }
        }

        &.index__solutions {

            @include min_width(768) {
                padding-bottom: 100px;
            }

            .image {

                .wrapper-3d {
                    top: 12%;
                    right: 30%;
                }
            }

            &.is_hover {
                .image {
                    .img, .img__hover, .img__mask {
                        top: 30px;
                    }
                }

                &.hover {
                    .image {
                        .wrapper-3d {
                            .cube-3d {
                                .side {
                                    &:before {
                                        opacity: 0;
                                    }

                                    &:after {
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.index__cloud {

            @include min_width(768) {
                padding-bottom: 80px;
            }

            h2 {
                position: relative;

                label {
                    @include f("m");
                    font-size: 1.4rem;
                    letter-spacing: 0.009em;
                    margin: 5px;
                    padding: 0px 5px 2px 5px;
                    background-color: #00be82;
                    color: #fff;
                    border-radius: 2px;
                    position: absolute;
                    line-height: initial;
                    top: 0;
                    right: 0;
                    transform: translateX(120%);
                }
            }

            .image {
                .wrapper-3d {
                    top: 28%;
                    left: 26%;
                    transform: scale(.4);
                }
            }
        }

        &.index__contacts {
            padding: 30px 0;

            @include min_width(768) {
                padding: 60px 0;
            }

            p {
                margin-top: 25px;
            }

            .social-media {
                margin-top: 20px;
                line-height: 25px;

                .social-link {
                    display: inline-block;
                    vertical-align: middle;
                    text-decoration: none;
                    margin-right: 20px;
                    text-align: center;
                    transition: all 0.2s ease;
                    transition-property: color, opacity;
                    fill: #fff;
                    font-size: 3.9rem;
                    border: none;

                    svg {
                        fill: #fff;
                        font-size: 3.9rem;
                        display: block;
                        margin: auto;
                        width: 1em;
                        height: 1em;
                        fill: #fff;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .address {
                svg {
                    height: 21px;
                    width: 16px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 2px;
                }
            }

            .nav__list {
                padding-left: 25px;

                li {
                    display: block;
                    margin-bottom: 15px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    a {
                        border-color: transparent;

                        &:hover {
                            border-color: #fff;
                        }
                    }
                }
            }
        }

        &.index__map {
            height: 445px;
        }
    }
}
