@import "_mixins";
@import "_variables";
@import '_fonts';

header {
    background-color: transparent;

    &.shadow {
        background-color: $color-blue-dim;
        box-shadow: 0 0 15px $black;
    }

    .actions {
        ul {
            li.search__wrap {
                background-color: $color-blue-dim;
            }
        }
    }
}

body {
    color: $white;
    background: $color-blue-dim;
    padding-top: 0;
}

main {

    h3 {
        font-size: 32px;
        @include f('t');
        margin-top: 30px;

        &:first-child {
            margin-top: 0;
        }
    }

    p {
        margin-top: 20px;
    }

    .top_area {
        padding-top: 105px;
        padding-bottom: 90px;
    }

    .toparea__svg {
        position: absolute;
        right: 170px;
        top: -130px;
        z-index: -1;
    }

    .title, &.title {
        overflow: hidden;
        position: relative;
    }

    .inner__features {
        color: #000;
        background: #FFF;

        .btn__accord {
            background: #f4f4f4;
            padding: 15px 0;
            cursor: pointer;
            transition: background 0.2s ease;

            &:hover {
                background: $color-pink;
                color: #fff;

                .accord__icon {
                    svg {
                        fill: #fff;
                    }
                }
            }

            .accord__title {
                display: inline-block;
                vertical-align: top;
                font-size: 3rem;
                line-height: 1;
                margin-top: 10px;
                transition: color 0.2s ease;
            }

            .accord__icon {
                display: inline-block;
                vertical-align: top;
                margin-right: 17px;
                height: 45px;
                vertical-align: top;

                svg {
                    font-size: 1rem;
                    fill: #000;
                    width: 45px;
                    height: 45px;
                    transition: all 0.2s ease;
                }
            }

            &.show {
                .accord__icon {
                    svg {
                        @include rotate(180, z);
                    }
                }
            }
        }

        .about__list {
            padding: 20px 60px 77px;

            [class*=col-] {
                padding-left: 60px;
                padding-right: 20px;
                max-width: 520px;
                margin-top: 50px;
                font-size: 18px;

                .star {
                    position: absolute;
                    top: -5px;
                    left: 0;
                    opacity: 0;
                    transition: opacity 200ms;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                }

                &:hover {
                    .star {
                        opacity: 1;
                    }
                }
            }

            .about__link {
                max-width: 450px;
                font-size: 3.5rem;
                color: $color-blue;
                border: none;

                &:hover {
                    color: $color-pink;
                }
            }

            ul {
                max-width: 360px;
                padding-right: 25px;
                margin-top: 20px;
                padding-left: 30px;
                list-style: none;

                li {
                    position: relative;
                    margin-bottom: 10px;
                    margin-top: 18px;

                    &:first-child {
                        margin-top: 0;
                    }

                    &:before {
                        position: absolute;
                        content: "";
                        top: 10px;
                        left: -15px;
                        border-radius: 50%;
                        background-color: $color-blue;
                        width: 3px;
                        height: 3px;
                    }
                }
            }
        }

        .features__about {
            transition: height .6s ease;
            height: 0;
            overflow: hidden;

            &.show {
            }
        }
    }

    .inner__flussonic-trial {
        color: #000;
        background: #FFF;
        padding-top: 10rem;
        padding-bottom: 12rem;
    }
}

@import "pages/_flussonic";
@import "pages/_watcher";
@import "pages/_agent";
@import "pages/_prices";
@import "pages/_doc";
@import "pages/_support";
@import "pages/_clients";
@import "pages/_blog";