.inner__agent {

    .top_area {
        padding-top: 105px;
        padding-bottom: 40px;

        .image__server {
            position: relative;

            svg {
                transform: scale(-1, 1);
                position: absolute;
                display: block;
                top: -290px;
                width: 508px;
                height: 865px;
                left: 66px;
            }

            .fill {
                fill: none;
                stroke: #003CFF;
                stroke-width: 2;
                stroke-dasharray: 12,6;
            }


            .line1, .line2, .line3 {
                position: absolute;
            }

            .line1 {
                width: 440px;
                height: 180px;
                bottom: -262px;
                top: unset;
                left: -176px;
                transform: scaleX(1);
            }

            .line2 {
                width: 80px;
                height: 200px;
                transform: scaleX(1);
                bottom: -470px;
                top: unset;
                left: 200px;
            }

            .line3 {
                width: 260px;
                height: 264px;
                transform: scaleX(1);
                bottom: -535px;
                top: unset;
                left: 192px;
            }

            .issues {
                position: absolute;
                top: 0;
                right: 100px;
                z-index: 1;
                position: absolute;
                @include f("r");
                font-size: 1.8rem;
                justify-content: center;
                text-align: center;

                .issues__item {
                    height: 125px;
                    width: 125px;
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: $color-blue-dim;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    position: relative;
                    line-height: 1.6;

                    &:not(:last-of-type) {
                        margin-bottom: 33px;
                    }

                    span {
                        font-size: 22px;
                        display: inline-block;
                    }

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-image: url('/imgs/agent_issues_round.png');
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }

            .scheme {
                position: absolute;
                font-size: 20px;
                top: 434px;
                left: -150px;

                .scheme__item {
                    padding: 0 10px;
                    display: inline-block;

                    &.lines {
                        position: relative;

                        &:before, &:after {
                            display: block;
                            position: absolute;
                            content: '';
                            width: 4px;
                            height: 407px;
                            top: 50%;
                            -webkit-transform: translateY(-52%);
                            -ms-transform: translateY(-52%);
                            transform: translateY(-52%);
                            background-image: linear-gradient(to bottom, #b124af, #a212b7, #8f00bf, #7500c9, #4e01d3);
                        }

                        &:before {
                            left: 0;
                        }

                        &:after {
                            right: 0;
                        }
                    }

                    &.last {
                        margin-left: 60px;
                    }
                }
            }
        }

        .image__camera {
            position: relative;
            height: 482px;
            max-width: 439px;

            .img, .mask {
                position: absolute;
                display: block;
                top: 45px;
                left: -90px;
                width: 100%;
            }

            .img {
                transform: scale(-1, 1);
            }

            .mask {
                animation-delay: 2s;
                opacity: 0;
            }
        }

        .image__client {
            position: relative;

            img {
                position: absolute;
                display: block;
                top: 470px;
                width: 533px;
                height: 330px;
                left: 80px;
            }
        }
    }

    .text {

        [class*=col-] {
            margin-bottom: 95px
        }
    }
}
