.inner__blog {


    .title {
        overflow: hidden;
        position: relative;

        .top_area {
            padding-top: 140px;
            padding-bottom: 130px;

            h1 {
                font-size: 4rem;
            }
        }
    }

    .blog {
        background-color: $white;
        padding-top: 50px;
        padding-bottom: 65px;
        color: $black;

        .blog__list,
        .blog__content {
            @include min_width('992') {
                width: 86%;
            }

            .is-hidden-post {
                display: none;
            }

            .blog__list-item {
                margin-bottom: 40px;

                .item__title {
                    font-size: 3.5rem;

                    a {
                        display: inline;
                    }
                }

                .item__date {
                    display: block;
                    font-size: 1.4rem;
                    margin-top: 5px;
                    color: #999;
                }
            }
        }
    }
}
