.inner__clients {

    h1 {
        font-size: 4rem;
    }

    .top_area {
        padding-top: 140px;
        padding-bottom: 150px;
    }

    .customers {
        padding-top: 5rem;
        background-color: $white;
        color: $black;

        .customers__list {
            list-style-type: none;
            font-size: 0;

            .customers__list-item {
                display: inline-block;
                vertical-align: top;
                font-size: 16px;
                font-size: 1.6rem;
                width: auto;
                margin-top: 20px;
                box-sizing: border-box;
                margin-bottom: 50px;

                &:first-child {
                    margin-top: 0;
                }

                &:nth-child(2n+1) {
                    margin-left: 0;
                }

                a {
                    color: $color-blue;
                    border-color: rgba($color-blue, .3);
                }

                .customer__pic {
                    height: 60px;
                    margin-bottom: 10px;
                    line-height: 6rem;
                    font-size: 0;
                    -webkit-filter: grayscale(1);
                    filter: grayscale(1);
                    opacity: 0.4;
                    -webkit-transform: translate3d(0, 0, 0);
                    transform: translate3d(0, 0, 0);
                    transition: all 0.2s ease;

                    a {
                        display: inline-block;
                        height: 100%;
                        border: none;
                        text-decoration: none;
                        max-width: 100%;
                    }

                    img {
                        display: inline-block;
                        vertical-align: middle;
                        max-height: 60px;
                        max-width: 100%;
                    }
                }

                h4 {
                    margin-bottom: 0;
                }

                .customer__partner-label {
                    margin-bottom: 5px;
                }

                .customer__text {
                    margin-top: 5px;
                }

                &:hover {
                    .customer__pic {
                        -webkit-filter: grayscale(0);
                        filter: grayscale(0);
                        opacity: 1;
                    }

                    a {
                        border-color: rgba(255,0,0,0.3);
                        color: red;
                    }
                }

                @include min_width(600) {
                    margin-top: 0;
                    width: calc(49% - 40px);
                    margin-left: 40px;

                    &:nth-child(2n+1) {
                        margin-left: 0;
                    }
                }

                @include min_width(992) {
                    width: calc(33.1% - 40px);
                    margin-left: 60px;

                    &:nth-child(2n+1) {
                        margin-left: 60px;
                    }

                    &:nth-child(3n+1) {
                        margin-left: 0;
                    }
                }
            }
        }
    }
}
