.inner__doc {
    margin-top: 71px;

    .top_area {
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .doc_navi {

        h1 {
            font-size: 4rem;
        }

        h2 {
            margin-bottom: 30px;

            img {
                height: 40px;

                @include min_width(768) {
                    height: 50px;
                }

                @include min_width(992) {
                    height: 70px;
                }

                @include min_width(1200) {
                    height: 80px;
                }
            }
        }

        h3 {
            font-size: 2.4rem;
            line-height: 1;
            margin-top: 0;
            margin-bottom: 20px;
            font-weight: 400;
        }

        h4 {
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 2rem;
            line-height: 1;

            a {
                border-color: rgba($white, .3);

                &:hover {
                }
            }
        }

        ul, ol {
            margin-bottom: 20px;
            list-style-type: disc;
            padding-left: 20px;
        }

        a {
            color: rgba($white, 1);
            border-color: rgba($white, .2);

            &:hover {
                border-color: rgba($white, .3);
            }
        }

        .doc__download {
            position: relative;
            border: none;

            span {
                display: inline-block;
                transition: all 0.2s ease;
                border-bottom: 1px solid rgba($white, .3);
                line-height: 1;
            }

            img {
                height: 45px;
                vertical-align: middle;
                margin-right: 14px;
            }


            &:hover {
                span {
                    border-bottom: 1px solid rgba($white, .6);
                }
            }
        }

        .bg_image {
            position: absolute;
            z-index: -1;
        }

        .doc_server, .doc_watcher {
            padding-top: 60px;
            padding-bottom: 50px;
        }

        .doc_server {

            .bg_image {
                width: 900px;
                height: 587px;
                top: -341px;
                right: -50px;
            }

            @include min_width(992) {
                padding-right: 110px;
            }
        }

        .doc_watcher {

            .bg_image {
                width: 500px;
                height: 371px;
                right: -100px;
                top: -40px;
            }

            @include min_width(768) {
                .bg_image {
                    right: -260px;
                    top: -140px;
                }
            }

            @include min_width(992) {
                padding-left: 110px;
            }
        }

        .doc-left {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 0;
                height: 100%;
                width: 10000px;
                display: block;
                right: 0;
                background: $color-blue;
                z-index: -1;
            }
        }

        .doc__lists {
            margin-bottom: 40px;
            margin-top: 40px;
            column-count: 2;

            .doc_list {
                box-sizing: border-box;

                a {
                    display: inline;
                    border-color: transparent;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                h4 {
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-size: 2rem;
                    line-height: 1;

                    a {
                        border-color: rgba($white, .4);
                        display: inline-block;
                        line-height: 1;

                        &:hover {
                            text-decoration: none;
                            border-color: rgba($white, 1);
                        }
                    }
                }
            }
        }
    }

    .doc__content {
        background-color: $white;
        color: $black;
        padding-top: 11px;
        font-size: 1.8rem;

        ul, ol {
            padding-left: 25px;
            counter-reset: item;

            li {
                margin-top: 18px;
                position: relative;

                &:first-child {
                    margin-top: 0;
                }

                &:before {
                    content: "";
                    position: absolute;
                }
            }
        }

        ul {
            li {
                &:before {
                    top: 10px;
                    left: -15px;
                    width: 4px;
                    height: 4px;
                    border-radius: 4px;
                    background-color: $color-blue;
                }
            }
        }

        ol {
            counter-reset: list;

            li {
                &:before {
                    counter-increment: list;
                    content: counter(list);
                    top: 0;
                    left: -18px;
                    color: $color-blue;
                }
            }
        }

        .navi {
            margin-top: 30px;

            ol {
                counter-reset: item;
                list-style-type: none;
                padding: 0;

                li {
                    &:before {
                        position: static;
                        content: counters(item,".") " ";
                        counter-increment: item;
                    }

                    a {
                        border: none;
                    }

                    > ol {
                        margin-top: 15px;
                        padding-left: 15px;
                    }

                    &.is-active {
                        a {
                            color: $color-blue;
                        }
                    }
                }
            }
        }
    }
}
