.inner__flussonic {

    .top_area {
        padding-bottom: 0;

        .image {
            text-align: right;

            .img_wrapp {
                top: 31px;
                max-width: 320px;
                display: inline-block;
                position: relative;

                [class*=channel-gap-] {
                    position: absolute;
                    width: 56px;
                    height: 53px;
                    background-image: url('/imgs/flussonic_channel_gap.png');
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    &.channel-gap-1 {
                        top: 168px;
                        left: -40px;
                        -webkit-animation: gapone 6s linear infinite;
                        animation: gapone 6s linear infinite
                    }

                    &.channel-gap-2 {
                        top: -7px;
                        left: 290px;
                        -webkit-animation: gaptwo 6s linear 1s infinite;
                        animation: gaptwo 6s linear 1s infinite
                    }

                    &.channel-gap-3 {
                        top: 243px;
                        left: 49px;
                        -webkit-animation: gapthree 8s linear 2s infinite;
                        animation: gapthree 8s linear 2s infinite
                    }
                }
            }
        }
    }

    .inner__flussonic-users {
        h3 {
            padding-top: 50px;
        }

        .image {
            padding-left: 50px;

            img {
                position: absolute;
                top: -50px;
                max-width: 330px;
            }

            .line_top {
                top: -96px;
                position: absolute;
                right: -380px;
                width: 120%;
                overflow: hidden;

                svg {
                    width: 1200px;
                    float: right;
                    height: 60px;
                }
            }


            .line_bottom {
                bottom: -258px;
                position: absolute;
                left: 260px;
                width: 100%;
                overflow: hidden;

                svg {
                    width: 600px;
                    height: 300px;
                }
            }
        }
    }

    .inner__flussonic-device {

        @include min_width(768) {
            padding-top: 140px;
        }

        .image {

            img {
                position: absolute;
                left: 100px;
                top: -160px;
            }
        }
    }

    .inner__flussonic-process {
        margin-top: 120px;
        margin-bottom: 50px;
    }

    .aft-device__list {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        flex-wrap: wrap;

        .aft-device__item {
            flex-basis: 45%;
            position: relative;
            padding-right: 10px;
            margin-bottom: 30px;

            &[data-aos=fade-left] {
                transform: translate3d(1000px,0,0);
            }

            &[data-aos^=fade][data-aos^=fade].aos-animate {
                transform: translateZ(0);
            }

            .aft-device__arrow {
                position: absolute;
                top: 34px;
                right: 12%;

                svg {
                    width: 60px;
                    height: 22px;
                }
            }

            .aft-device__img {
                margin-bottom: 15px;

                svg {
                    width: 90px;
                    height: 90px;
                }
            }

            .aft-device__title {
                font-weight: bold;
                text-transform: uppercase;
                font-size: 2rem;
                margin-bottom: 5px;
            }

            @include min_width(768) {
                flex-basis: 30%;
            }

            @include min_width(992) {
                flex-basis: 16.66667%;
            }
        }
    }
}
