.inner__prices {

    .top_area {
        padding-top: 100px;
        padding-bottom: 50px;
    }

    .price__nav {
        margin: 23px 0;

        a {
            svg {
            }
        }

        .btn_nav {
            color: white;
            margin-right: 15px;
            border: none;

            &:hover {
                color: $color-pink;
            }

            & > * {
                display: inline-block;
                vertical-align: middle;
            }

            &.is-active {
                span {
                    border-color: transparent;
                }

                &:hover {
                    color: white;
                    cursor: default;
                }

                svg {
                    circle {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            svg {
                g {
                    stroke: currentColor;
                }

                circle {
                    visibility: hidden;
                    opacity: 0;
                    transition: all 0.2s ease;
                }
            }

            span {
                border-bottom: 1px dotted;
            }
        }
    }

    .plans {
        background-color: $white;
        padding-top: 40px;
        padding-bottom: 60px;
        color: $black;
        overflow: hidden;

        .plan {
            display: inline-block;
            vertical-align: top;
            width: 100%;
            float: left;
            border: 1px solid #aaa;
            border-radius: 3px;
            background-color: #fff;
            -webkit-transform-origin: center 100px;
            -ms-transform-origin: center 100px;
            transform-origin: center 100px;
            box-shadow: 0px 0px 0px rgba(0,0,0,0.5);
            transition: all 0.2s ease;

            &:hover {
                box-shadow: 0px 5px 25px rgba(0,0,0,0.2);
            }

            .plan__title {
                background-color: $color-blue-dim;
                padding: 16px 0;
                text-align: center;
                font-size: 1.17em;
                font-weight: bold;
                color: $white;

                &.blue {
                    background-color: $color-blue;
                }
            }

            .plan__description {
                padding: 20px 40px;
                padding-left: 60px;
                padding-bottom: 14px;
                margin-bottom: 0px;
                list-style-type: disc;
                min-height: 210px;
            }

            .plan__form {
                margin: 16px 40px 20px 40px;

                p {
                    margin-top: 0;
                    margin-bottom: 21px;
                    font-size: 14px;
                    display: inline-block;
                }
            }

            hr.delim {
                display: block;
                margin: 0px 40px;
                height: 0px;
                border: none;
                border-top: 1px solid #eee;
            }

            a {
                color: $color-blue;
                border-bottom: 1px solid rgba(0,60,255,0.3);

                &:hover {
                    color: $color-pink;
                    border-color: rgba(255,0,0,0.3);
                }
            }

            @include min_width(576) {
                margin-right: 20px;
                width: calc(50% - 20px);

                &:last-child {
                    margin-right: 0;
                    width: 50%;
                }
            }

            @include min_width(768) {
                margin-right: 20px;
                width: calc(33% - 20px);

                &:last-child {
                    width: 33%;
                }
            }

            @include min_width(992) {
                margin-right: 20px;
                width: calc(25% - 20px);

                &:last-child {
                    width: 25%;
                }
            }
        }
    }
}

@import "_prices-mediaserver";
@import "_prices-watcher";
