.inner__support {



    .title {
        overflow: hidden;
        position: relative;

        .top_area {
            padding-top: 140px;
            padding-bottom: 130px;

            h1 {
                font-size: 4rem;
            }
        }

        .toparea__svg {
            position: absolute;
            right: 170px;
            top: -130px;
        }
    }

    .content {
        background-color: $white;
        color: $black;
        padding-top: 5rem;
        padding-bottom: 65px;
        font-size: 1.8rem;


        hr {
            margin: 35px -30vw 35px 0;
            padding: 0;
            height: 1px;
            border: none;
            background: #E7E7E7;
        }

        p {
            margin-top: 20px;
        }

        table {

            strong {
                @include f("r");
            }

            tr {
                transition: background .2s, color .2s;

                &:hover {
                    color: #fff;
                    background: $color-blue;

                    td:first-child:before,
                    td:last-child:before {
                        background: $color-blue;
                    }
                }

                td {
                    position: relative;
                    padding: 9px;
                    padding-left: 0;
                    vertical-align: top;

                    &:first-child:before,
                    &:last-child:before {
                        position: absolute;
                        content: "";
                        top: 0;
                        bottom: 0;
                        width: 40vw;
                        transition: background .2s;
                        background: transparent;
                    }

                    &:first-child:before {
                        right: 100%;
                    }

                    &:last-child:before {
                        left: 100%;
                    }
                }
            }
        }
    }
}
