.inner__watcher {

    .top_area {

        .image {

            svg {
                position: absolute;
                top: -65px;
                left: 0;
                display: none;
            }
        }
    }

    .watcher_camera {
        .image {
            animation: fade-in-up .4s linear;

            .pic {
                position: absolute;
                top: -50px;
                left: -500px;
                height: auto;
                width: 735px;
                max-width: none;
                z-index: 1;
            }

            .line1 {
                width: 1000px;
                height: 1000px;
                position: absolute;
                top: -354px;
                right: -294px;
                z-index: -1;
            }
        }
    }

    .cluster__cube {
        margin-top: 70px;

        @include min_width(768) {
            margin-top: 170px;
        }

        .image {

            .cluster__cube-cubes {
                position: absolute;
                bottom: -52px;
                left: 0;
                width: 303px;
                height: 281px;

                img {
                    position: absolute;
                }

                .cluster__cube-cube1 {
                    z-index: 1;
                }

                .cluster__cube-cube2 {
                    left: 158px;
                    top: -72px;
                    width: 243px;
                    -webkit-animation: clustertwo 6s ease-in-out infinite;
                    animation: clustertwo 6s ease-in-out infinite;
                }

                .cluster__cube-cube3 {
                    left: 190px;
                    top: 112px;
                    width: 262px;
                    -webkit-animation: clusterthree 6s ease-in-out infinite;
                    animation: clusterthree 6s ease-in-out infinite;
                }
            }
        }
    }

    .failure__prot {
        margin-top: 70px;

        @include min_width(768) {
            margin-top: 170px;
        }

        position: relative;

        .image {

            .finger, .finger__overlay {
                z-index: 1;
                position: absolute;
                top: -130px;
                left: 0;
                width: 300px;
                height: 420px;
            }

            .finger__overlay {
                -webkit-animation: finger 8s cubic-bezier(0.395, 0, 0.495, 1) infinite;
                animation: finger 8s cubic-bezier(0.395, 0, 0.495, 1) infinite;
                border-bottom: 1px solid #d400ac;
                overflow: hidden;

                svg {
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 300px;
                    height: 420px;
                }
            }

            .line2 {
                width: 585px;
                height: 100px;
                position: absolute;
                top: -149px;
                left: 239px;
            }

            .line3 {
                width: 350px;
                height: 100px;
                position: absolute;
                bottom: -136px;
                left: 272px;
                stroke-width: 4;
                stroke-dasharray: 10, 8;
            }
        }
    }

    .integ__bill {
        margin-top: 50px;
        margin-bottom: 50px;

        @include min_width(768) {
            margin-bottom: 0px;
            margin-top: 150px;
        }


        .image {
            height: 400px;

            .phone, .phone__overlay {
                z-index: 1;
                position: absolute;
                top: -100px;
                left: -30px;
            }

            .phone__overlay {
                z-index: 2;
                -webkit-animation: pulsephone 3s linear infinite;
                animation: pulsephone 3s linear infinite;
            }
        }
    }
}
